In [1]:
from classes.setup import Setup

setup = Setup()
setup.import_from_file('./output/birds!85/setup.yml')

In [2]:
from classes.map import Map

pathway_map = Map(
    {
        'setup': setup
    }
)

pathway_map.load_run_data()#'drip-and-ship')

## Check loaded data

In [3]:
pathway_map.df_lsoa.head(3).T

LSOA11NM                                               Basingstoke and Deane 003C  \
scenario      property
any           LSOA11CD                                                  E01022499
              ICB22NM           NHS Hampshire and Isle of Wight Integrated Car...
drip-and-ship postcode_nearest                                             SN36BB
              Use                                                             1.0
mothership    postcode_nearest                                                NaN
              Use                                                             NaN

LSOA11NM                                        Bath and North East Somerset 001A  \
scenario      property
any           LSOA11CD                                                  E01014399
              ICB22NM           NHS Bath and North East Somerset, Swindon and ...
drip-and-ship postcode_nearest                                             BA13NG
              Use                                                             1.0
mothership    postcode_nearest                                            BS105NB
              Use                                                             1.0

LSOA11NM                                        Bath and North East Somerset 001B
scenario      property
any           LSOA11CD                                                  E01014400
              ICB22NM           NHS Bath and North East Somerset, Swindon and ...
drip-and-ship postcode_nearest                                             BA13NG
              Use                                                             1.0
mothership    postcode_nearest                                            BS105NB
              Use                                                             1.0

In [4]:
pathway_map.df_regions.head(3).T

region_type                            CCG19CD
region                               E38000009 E38000045 E38000062
scenario      property
drip-and-ship contains_selected_unit         1         0         1
              contains_selected_lsoa         1         1         1
mothership    contains_selected_unit         0         0         0
              contains_selected_lsoa         1         1         1

In [5]:
pathway_map.df_units.head(3).T

Postcode                                                                BA13NG  \
scenario      property
any           Hospital_name                                             BA13NG
              SSNAP name                            Royal United Hospital Bath
              ICB22NM        NHS Bath and North East Somerset, Swindon and ...
              Easting                                                   372876
              Northing                                                  165920
              long                                                   -2.391218
              lat                                                    51.391665
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1
mothership    Use_IVT                                                      NaN
              Use_MT                                                       NaN
              Use_MSU                                                      NaN
              Use                                                          NaN

Postcode                                                BA214AT  \
scenario      property
any           Hospital_name                             BA214AT
              SSNAP name               Yeovil District Hospital
              ICB22NM        NHS Somerset Integrated Care Board
              Easting                                    355505
              Northing                                   116348
              long                                    -2.634712
              lat                                     50.944843
drip-and-ship Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1
mothership    Use_IVT                                       NaN
              Use_MT                                        NaN
              Use_MSU                                       NaN
              Use                                           NaN

Postcode                                                               BS105NB
scenario      property
any           Hospital_name                                            BS105NB
              SSNAP name                               North Bristol Hospitals
              ICB22NM        NHS Bristol, North Somerset and South Gloucest...
              Easting                                                   358934
              Northing                                                  177759
              long                                                   -2.592962
              lat                                                     51.49727
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1
mothership    Use_IVT                                                      1.0
              Use_MT                                                       1.0
              Use_MSU                                                      1.0
              Use                                                          1.0

In [6]:
pathway_map.df_transfer.head(3).T

Postcode                          BA13NG        BA214AT        BS105NB
name_nearest_MT                  BS105NB        BS105NB        BS105NB
scenario      property
any           Easting      372876.000000  355505.000000  358934.000000
              Northing     165920.000000  116348.000000  177759.000000
              long             -2.391218      -2.634712      -2.592962
              lat              51.391665      50.944843      51.497270
              Easting_mt   358934.000000  358934.000000  358934.000000
              Northing_mt  177759.000000  177759.000000  177759.000000
              long_mt          -2.592962      -2.592962      -2.592962
              lat_mt           51.497270      51.497270      51.497270
drip-and-ship Use               1.000000       1.000000       1.000000
mothership    Use                    NaN            NaN       1.000000

In [7]:
pathway_map.df_results_by_lsoa.head(3).T

lsoa                                                                     Bath and North East Somerset 002B  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                             30.000000
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                             60.000000
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                             80.000000
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                             98.700000
                                                                std                                    NaN
                                    time_needle                 mean                            128.700000
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                            192.400000
                                                                std                                    NaN
                                    time_puncture               mean                            252.400000
                                                                std                                    NaN
                                    mRS shift                   mean                             -0.566905
                                                                std                                    NaN
                                    utility_shift               mean                              0.114929
                                                                std                                    NaN
                                    mRS 0-2                     mean                              0.385800
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

lsoa                                                                     Bath and North East Somerset 006C  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                                  30.0
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                  60.0
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                  80.0
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                 112.6
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

lsoa                                                                     Bath and North East Somerset 010B
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                                  30.0
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                  60.0
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                  80.0
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                  97.6
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

In [8]:
pathway_map.df_results_by_unit.head(3).T

closest_ivt_unit                                                             BA13NG  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     103.381250
                                                                std        8.725153
                                    time_needle                 mean     131.666667
                                                                std        7.520971
                                    time_transfer_unit_arrival  mean     199.550000
                                                                std        4.638426
                                    time_puncture               mean     259.550000
                                                                std        4.638426
                                    mRS shift                   mean      -0.546436
                                                                std        0.012834
                                    utility_shift               mean       0.107445
                                                                std        0.005313
                                    mRS 0-2                     mean       0.484183
                                                                std        0.154457
mothership                          time_ambulance_called       mean            NaN
                                                                std             NaN
                                    time_ambulance_arrival      mean            NaN
                                                                std             NaN
                                    time_ambulance_leaves_scene mean            NaN
                                                                std             NaN
                                    time_admitting_unit_arrival mean            NaN
                                                                std             NaN
                                    time_needle                 mean            NaN
                                                                std             NaN
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean            NaN
                                                                std             NaN
                                    mRS shift                   mean            NaN
                                                                std             NaN
                                    utility_shift               mean            NaN
                                                                std             NaN
                                    mRS 0-2                     mean            NaN
                                                                std             NaN
diff_drip-and-ship_minus_mothership utility_shift               mean            NaN
                                                                std        0.005313
                                    mRS shift                   mean            NaN
                                                                std        0.012834
                                    mRS 0-2                     mean            NaN
                                                                std        0.154457

closest_ivt_unit                                                            BA214AT  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     106.211111
                                                                std        9.820444
                                    time_needle                 mean     144.800000
                                                                std        0.000000
                                    time_transfer_unit_arrival  mean     249.300000
                                                                std             NaN
                                    time_puncture               mean     309.300000
                                                                std             NaN
                                    mRS shift                   mean      -0.446288
                                                                std        0.081032
                                    utility_shift               mean       0.086962
                                                                std        0.008381
                                    mRS 0-2                     mean       0.515606
                                                                std        0.234224
mothership                          time_ambulance_called       mean            NaN
                                                                std             NaN
                                    time_ambulance_arrival      mean            NaN
                                                                std             NaN
                                    time_ambulance_leaves_scene mean            NaN
                                                                std             NaN
                                    time_admitting_unit_arrival mean            NaN
                                                                std             NaN
                                    time_needle                 mean            NaN
                                                                std             NaN
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean            NaN
                                                                std             NaN
                                    mRS shift                   mean            NaN
                                                                std             NaN
                                    utility_shift               mean            NaN
                                                                std             NaN
                                    mRS 0-2                     mean            NaN
                                                                std             NaN
diff_drip-and-ship_minus_mothership utility_shift               mean            NaN
                                                                std        0.008381
                                    mRS shift                   mean            NaN
                                                                std        0.081032
                                    mRS 0-2                     mean            NaN
                                                                std        0.234224

closest_ivt_unit                                                            BS105NB
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean      96.340000
                                                                std        3.687577
                                    time_needle                 mean     126.733333
                                                                std        4.884943
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean     127.100000
                                                                std        5.862878
                                    mRS shift                   mean      -0.836085
                                                                std        0.226047
                                    utility_shift               mean       0.161109
                                                                std        0.047382
                                    mRS 0-2                     mean       0.542085
                                                                std        0.113837
mothership                          time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     120.678689
                                                                std       17.764938
                                    time_needle                 mean     149.240541
                                                                std       16.282497
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean     148.430769
                                                                std       17.863995
                                    mRS shift                   mean      -0.639031
                                                                std        0.206458
                                    utility_shift               mean       0.121715
                                                                std        0.043089
                                    mRS 0-2                     mean       0.600156
                                                                std        0.109173
diff_drip-and-ship_minus_mothership utility_shift               mean       0.039393
                                                                std        0.064045
                                    mRS shift                   mean      -0.197055
                                                                std        0.306141
                                    mRS 0-2                     mean      -0.058070
                                                                std        0.157726

## Process data

In [9]:
pathway_map.process_data()

## Check contents of resulting dataframes

In [10]:
pathway_map.gdf_points_units.head(3).T

Postcode                                                                BA13NG  \
scenario      property
any           Hospital_name                                             BA13NG
              SSNAP name                            Royal United Hospital Bath
              ICB22NM        NHS Bath and North East Somerset, Swindon and ...
              Easting                                                   372876
              Northing                                                  165920
              long                                                   -2.391218
              lat                                                    51.391665
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1
mothership    Use_IVT                                                      NaN
              Use_MT                                                       NaN
              Use_MSU                                                      NaN
              Use                                                          NaN
any           geometry                                   POINT (372876 165920)

Postcode                                                BA214AT  \
scenario      property
any           Hospital_name                             BA214AT
              SSNAP name               Yeovil District Hospital
              ICB22NM        NHS Somerset Integrated Care Board
              Easting                                    355505
              Northing                                   116348
              long                                    -2.634712
              lat                                     50.944843
drip-and-ship Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1
mothership    Use_IVT                                       NaN
              Use_MT                                        NaN
              Use_MSU                                       NaN
              Use                                           NaN
any           geometry                    POINT (355505 116348)

Postcode                                                               BS105NB
scenario      property
any           Hospital_name                                            BS105NB
              SSNAP name                               North Bristol Hospitals
              ICB22NM        NHS Bristol, North Somerset and South Gloucest...
              Easting                                                   358934
              Northing                                                  177759
              long                                                   -2.592962
              lat                                                     51.49727
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1
mothership    Use_IVT                                                      1.0
              Use_MT                                                       1.0
              Use_MSU                                                      1.0
              Use                                                          1.0
any           geometry                                   POINT (358934 177759)

In [11]:
pathway_map.gdf_lines_transfer.head(3).T

Postcode                                                          BA13NG  \
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             372876
              Northing                                            165920
              long                                             -2.391218
              lat                                              51.391665
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                    NaN
any           unit_coords                               [372876, 165920]
              transfer_coords                           [358934, 177759]
              line_coords           [[372876, 165920], [358934, 177759]]
              geometry         LINESTRING (372876 165920, 358934 177759)

Postcode                                                         BA214AT  \
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             355505
              Northing                                            116348
              long                                             -2.634712
              lat                                              50.944843
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                    NaN
any           unit_coords                               [355505, 116348]
              transfer_coords                           [358934, 177759]
              line_coords           [[355505, 116348], [358934, 177759]]
              geometry         LINESTRING (355505 116348, 358934 177759)

Postcode                                                         BS105NB
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             358934
              Northing                                            177759
              long                                             -2.592962
              lat                                               51.49727
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                    1.0
any           unit_coords                               [358934, 177759]
              transfer_coords                           [358934, 177759]
              line_coords           [[358934, 177759], [358934, 177759]]
              geometry         LINESTRING (358934 177759, 358934 177759)

In [12]:
pathway_map.gdf_boundaries_regions.head(3).T

ICB22NM                              NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board  \
scenario      property
any           ICB22CD                                                         E54000040
              BNG_E                                                              393349
              BNG_N                                                              154962
              LONG                                                             -2.09676
              LAT                                                              51.29374
              OBJECTID                                                               24
              geometry                POLYGON ((422030.096 199080.267000001, 422033....
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  0
              contains_selected_lsoa                                                  1
any           colour                                                      RebeccaPurple

ICB22NM                              NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board  \
scenario      property
any           ICB22CD                                                         E54000039
              BNG_E                                                              366745
              BNG_N                                                              176370
              LONG                                                             -2.48031
              LAT                                                              51.48529
              OBJECTID                                                               23
              geometry                MULTIPOLYGON (((323181.2027 160548.502800001, ...
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
any           colour                                                               Teal

ICB22NM                              NHS Buckinghamshire, Oxfordshire and Berkshire West Integrated Care Board
scenario      property
any           ICB22CD                                                         E54000044
              BNG_E                                                              459681
              BNG_N                                                              205725
              LONG                                                             -1.13691
              LAT                                                              51.74705
              OBJECTID                                                               28
              geometry                POLYGON ((446553.813 251430.422, 446526.5 2513...
drip-and-ship contains_selected_unit                                                  0
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  0
              contains_selected_lsoa                                                  0
any           colour                                                        ForestGreen

In [13]:
pathway_map.gdf_boundaries_lsoa.head(3).T

LSOA11NM                          Basingstoke and Deane 003C  \
scenario   property      subtype
any        OBJECTID                                    21904
           LSOA11CD                                E01022499
           LSOA11NMW              Basingstoke and Deane 003C
           BNG_E                                      443529
           BNG_N                                      162328
...                                                      ...
mothership mRS shift     std                             NaN
           utility_shift mean                            NaN
                         std                             NaN
           mRS 0-2       mean                            NaN
                         std                             NaN

LSOA11NM                          Bath and North East Somerset 001A  \
scenario   property      subtype
any        OBJECTID                                           13969
           LSOA11CD                                       E01014399
           LSOA11NMW              Bath and North East Somerset 001A
           BNG_E                                             363866
           BNG_N                                             169049
...                                                             ...
mothership mRS shift     std                                    NaN
           utility_shift mean                                   NaN
                         std                                    NaN
           mRS 0-2       mean                                   NaN
                         std                                    NaN

LSOA11NM                          Bath and North East Somerset 001B
scenario   property      subtype
any        OBJECTID                                           13970
           LSOA11CD                                       E01014400
           LSOA11NMW              Bath and North East Somerset 001B
           BNG_E                                             365422
           BNG_N                                             168755
...                                                             ...
mothership mRS shift     std                                    NaN
           utility_shift mean                                   NaN
                         std                                    NaN
           mRS 0-2       mean                                   NaN
                         std                                    NaN

[62 rows x 3 columns]

In [14]:
for c in pathway_map.gdf_boundaries_lsoa.columns:
    print(c)

('any', 'OBJECTID', '')
('any', 'LSOA11CD', '')
('any', 'LSOA11NMW', '')
('any', 'BNG_E', '')
('any', 'BNG_N', '')
('any', 'LONG', '')
('any', 'LAT', '')
('any', 'Shape__Area', '')
('any', 'Shape__Length', '')
('any', 'GlobalID', '')
('any', 'geometry', '')
('any', 'ICB22NM', '')
('diff_drip-and-ship_minus_mothership', 'utility_shift', 'mean')
('diff_drip-and-ship_minus_mothership', 'utility_shift', 'std')
('diff_drip-and-ship_minus_mothership', 'mRS shift', 'mean')
('diff_drip-and-ship_minus_mothership', 'mRS shift', 'std')
('diff_drip-and-ship_minus_mothership', 'mRS 0-2', 'mean')
('diff_drip-and-ship_minus_mothership', 'mRS 0-2', 'std')
('drip-and-ship', 'postcode_nearest', '')
('drip-and-ship', 'Use', '')
('drip-and-ship', 'time_ambulance_called', 'mean')
('drip-and-ship', 'time_ambulance_called', 'std')
('drip-and-ship', 'time_ambulance_arrival', 'mean')
('drip-and-ship', 'time_ambulance_arrival', 'std')
('drip-and-ship', 'time_ambulance_leaves_scene', 'mean')
('drip-and-ship', 'time_ambulance_leaves_scene', 'std')
('drip-and-ship', 'time_admitting_unit_arrival', 'mean')
('drip-and-ship', 'time_admitting_unit_arrival', 'std')
('drip-and-ship', 'time_needle', 'mean')
('drip-and-ship', 'time_needle', 'std')
('drip-and-ship', 'time_transfer_unit_arrival', 'mean')
('drip-and-ship', 'time_transfer_unit_arrival', 'std')
('drip-and-ship', 'time_puncture', 'mean')
('drip-and-ship', 'time_puncture', 'std')
('drip-and-ship', 'mRS shift', 'mean')
('drip-and-ship', 'mRS shift', 'std')
('drip-and-ship', 'utility_shift', 'mean')
('drip-and-ship', 'utility_shift', 'std')
('drip-and-ship', 'mRS 0-2', 'mean')
('drip-and-ship', 'mRS 0-2', 'std')
('mothership', 'postcode_nearest', '')
('mothership', 'Use', '')
('mothership', 'time_ambulance_called', 'mean')
('mothership', 'time_ambulance_called', 'std')
('mothership', 'time_ambulance_arrival', 'mean')
('mothership', 'time_ambulance_arrival', 'std')
('mothership', 'time_ambulance_leaves_scene', 'mean')
('mothership', 'time_ambulance_leaves_scene', 'std')
('mothership', 'time_admitting_unit_arrival', 'mean')
('mothership', 'time_admitting_unit_arrival', 'std')
('mothership', 'time_needle', 'mean')
('mothership', 'time_needle', 'std')
('mothership', 'time_transfer_unit_arrival', 'mean')
('mothership', 'time_transfer_unit_arrival', 'std')
('mothership', 'time_puncture', 'mean')
('mothership', 'time_puncture', 'std')
('mothership', 'mRS shift', 'mean')
('mothership', 'mRS shift', 'std')
('mothership', 'utility_shift', 'mean')
('mothership', 'utility_shift', 'std')
('mothership', 'mRS 0-2', 'mean')
('mothership', 'mRS 0-2', 'std')

## Plotting

In [15]:
pathway_map.plot_map_selected_units(scenario='drip-and-ship')
pathway_map.plot_map_selected_units(scenario='mothership')

In [16]:
pathway_map.plot_map_catchment(scenario='drip-and-ship')
pathway_map.plot_map_catchment(scenario='mothership')

In [17]:
for outcome in ['mRS shift', 'utility_shift', 'mRS 0-2']:
    # pathway_map.plot_map_outcome(scenario='drip-and-ship', outcome=outcome, cbar_diff=False)
    # pathway_map.plot_map_outcome(scenario='mothership', outcome=outcome, cbar_diff=False)
    pathway_map.plot_map_outcome(scenario='diff_drip-and-ship_minus_mothership', outcome=outcome, cbar_diff=True)

In [18]:
pathway_map.load_geometry_regions(region_type='SCN17NM')
pathway_map.plot_map_selected_units(scenario='drip-and-ship')
pathway_map.plot_map_selected_units(scenario='mothership')