In [1]:
from classes.setup import Setup

setup = Setup()
setup.import_from_file('./output/birds!62/setup.yml')

In [2]:
from classes.map import Map

pathway_map = Map(
    {
        'setup': setup
    }
)

pathway_map.load_run_data('drip-and-ship')

## Check loaded data

In [3]:
pathway_map.df_lsoa.head(3).T

LSOA11NM,Wychavon 019F,Basingstoke and Deane 003C,West Berkshire 021B
LSOA11CD,E01032413,E01022499,E01016290
ICB22NM,NHS Herefordshire and Worcestershire Integrate...,NHS Hampshire and Isle of Wight Integrated Car...,"NHS Buckinghamshire, Oxfordshire and Berkshire..."
postcode_nearest,GL13NN,SN36BB,SN36BB

In [4]:
pathway_map.df_regions.head(3).T

ICB22NM,"NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board","NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board",NHS Cornwall and the Isles of Scilly Integrated Care Board
contains_selected_unit,1,1,1
contains_selected_lsoa,1,1,1

In [5]:
pathway_map.df_units.head(3).T

Postcode,GL13NN,SN36BB,BS105NB
Hospital_name,GL13NN,SN36BB,BS105NB
SSNAP name,Gloucestershire Royal Hospital,Great Western Hospital Swindon,North Bristol Hospitals
ICB22NM,NHS Gloucestershire Integrated Care Board,"NHS Bath and North East Somerset, Swindon and ...","NHS Bristol, North Somerset and South Gloucest..."
Easting,384117,419017,358934
Northing,218670,182216,177759
long,-2.232073,-1.7272,-2.592962
lat,51.866379,51.538528,51.49727
Use_IVT,1,1,1
Use_MT,0,0,1
Use_MSU,0,0,1
Use,1,1,1

In [6]:
pathway_map.df_transfer.head(3).T

Postcode                GL13NN         SN36BB        BS105NB
name_nearest_MT        BS105NB        BS105NB        BS105NB
Easting          384117.000000  419017.000000  358934.000000
Northing         218670.000000  182216.000000  177759.000000
long                 -2.232073      -1.727200      -2.592962
lat                  51.866379      51.538528      51.497270
Easting_mt       358934.000000  358934.000000  358934.000000
Northing_mt      177759.000000  177759.000000  177759.000000
long_mt              -2.592962      -2.592962      -2.592962
lat_mt               51.497270      51.497270      51.497270

In [7]:
pathway_map.df_results_by_lsoa.head(3).T

lsoa                                 Bath and North East Somerset 012B  \
property                    subtype
time_ambulance_called       mean                             30.000000
                            std                                    NaN
time_ambulance_arrival      mean                             60.000000
                            std                                    NaN
time_ambulance_leaves_scene mean                             80.000000
                            std                                    NaN
time_admitting_unit_arrival mean                             93.300000
                            std                                    NaN
time_needle                 mean                            123.300000
                            std                                    NaN
time_transfer_unit_arrival  mean                            187.000000
                            std                                    NaN
time_puncture               mean                            247.000000
                            std                                    NaN
mRS shift                   mean                             -0.584139
                            std                                    NaN
utility_shift               mean                              0.118184
                            std                                    NaN
mRS 0-2                     mean                              0.389271
                            std                                    NaN

lsoa                                 Bristol 003A  Bristol 014B
property                    subtype
time_ambulance_called       mean             30.0          30.0
                            std               NaN           NaN
time_ambulance_arrival      mean             60.0          60.0
                            std               NaN           NaN
time_ambulance_leaves_scene mean             80.0          80.0
                            std               NaN           NaN
time_admitting_unit_arrival mean            104.1          92.2
                            std               NaN           NaN
time_needle                 mean              NaN           NaN
                            std               NaN           NaN
time_transfer_unit_arrival  mean              NaN           NaN
                            std               NaN           NaN
time_puncture               mean              NaN           NaN
                            std               NaN           NaN
mRS shift                   mean              NaN           NaN
                            std               NaN           NaN
utility_shift               mean              NaN           NaN
                            std               NaN           NaN
mRS 0-2                     mean              NaN           NaN
                            std               NaN           NaN

In [8]:
pathway_map.df_results_by_unit.head(3).T

closest_ivt_unit                         BA13NG     BA214AT     BS105NB
property                    subtype
time_ambulance_called       mean      30.000000   30.000000   30.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_arrival      mean      60.000000   60.000000   60.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_leaves_scene mean      80.000000   80.000000   80.000000
                            std        0.000000    0.000000    0.000000
time_admitting_unit_arrival mean     108.350000  102.514286   99.362500
                            std        9.519604   12.472427    6.213105
time_needle                 mean     137.271429  138.075000  131.480000
                            std        9.740074   12.308635    5.182374
time_transfer_unit_arrival  mean     199.900000         NaN         NaN
                            std       18.243355         NaN         NaN
time_puncture               mean     259.900000         NaN  135.150000
                            std       18.243355         NaN    7.566043
mRS shift                   mean      -0.526098   -0.518385   -0.704648
                            std        0.029729    0.027084    0.228113
utility_shift               mean       0.099839    0.095446    0.134005
                            std        0.008838    0.004682    0.048123
mRS 0-2                     mean       0.597556    0.684001    0.597931
                            std        0.148013    0.005076    0.123013

## Process data

In [9]:
pathway_map.process_data()

## Check contents of resulting dataframes

In [10]:
pathway_map.gdf_points_units.head(3).T

Postcode,GL13NN,SN36BB,BS105NB
Hospital_name,GL13NN,SN36BB,BS105NB
SSNAP name,Gloucestershire Royal Hospital,Great Western Hospital Swindon,North Bristol Hospitals
ICB22NM,NHS Gloucestershire Integrated Care Board,"NHS Bath and North East Somerset, Swindon and ...","NHS Bristol, North Somerset and South Gloucest..."
Easting,384117,419017,358934
Northing,218670,182216,177759
long,-2.232073,-1.7272,-2.592962
lat,51.866379,51.538528,51.49727
Use_IVT,1,1,1
Use_MT,0,0,1
Use_MSU,0,0,1
Use,1,1,1
geometry,POINT (384117 218670),POINT (419017 182216),POINT (358934 177759)

In [11]:
pathway_map.gdf_lines_transfer.head(3).T

Postcode,GL13NN,SN36BB,BS105NB
name_nearest_MT,BS105NB,BS105NB,BS105NB
Easting,384117,419017,358934
Northing,218670,182216,177759
long,-2.232073,-1.7272,-2.592962
lat,51.866379,51.538528,51.49727
Easting_mt,358934.0,358934.0,358934.0
Northing_mt,177759.0,177759.0,177759.0
long_mt,-2.592962,-2.592962,-2.592962
lat_mt,51.49727,51.49727,51.49727
unit_coords,"[384117, 218670]","[419017, 182216]","[358934, 177759]"
transfer_coords,"[358934.0, 177759.0]","[358934.0, 177759.0]","[358934.0, 177759.0]"
line_coords,"[[384117, 218670], [358934.0, 177759.0]]","[[419017, 182216], [358934.0, 177759.0]]","[[358934, 177759], [358934.0, 177759.0]]"
line_geometry,"LINESTRING (384117 218670, 358934 177759)","LINESTRING (419017 182216, 358934 177759)","LINESTRING (358934 177759, 358934 177759)"
geometry,"LINESTRING (384117 218670, 358934 177759)","LINESTRING (419017 182216, 358934 177759)","LINESTRING (358934 177759, 358934 177759)"

In [12]:
pathway_map.gdf_boundaries_regions.head(3).T

ICB22NM,"NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board","NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board",NHS Cornwall and the Isles of Scilly Integrated Care Board
property,,,
ICB22CD,E54000040,E54000039,E54000036
BNG_E,393349,366745,212497
BNG_N,154962,176370,64493
LONG,-2.09676,-2.48031,-4.64254
LAT,51.29374,51.48529,50.45022
OBJECTID,24,23,20
geometry,"POLYGON ((422030.096 199080.267000001, 422033....","MULTIPOLYGON (((323181.2027 160548.502800001, ...",MULTIPOLYGON (((83999.7000000002 5358.59999999...
contains_selected_unit,1,1,1
contains_selected_lsoa,1,1,1
colour,RebeccaPurple,Teal,ForestGreen

In [13]:
pathway_map.gdf_boundaries_lsoa.head(3).T

LSOA11NM                                                                 Wychavon 019F  \
property                    subtype
OBJECTID                                                                         31603
LSOA11CD                                                                     E01032413
LSOA11NMW                                                                Wychavon 019F
BNG_E                                                                           399042
BNG_N                                                                           237177
LONG                                                                          -2.01536
LAT                                                                             52.033
Shape__Area                                                            12773471.727028
Shape__Length                                                             15590.025532
GlobalID                                          eff8a3be-db69-4864-b2c2-eb98ddb0fe0e
geometry                             POLYGON ((401185.09384897107 237497.3197947876...
ICB22NM                              NHS Herefordshire and Worcestershire Integrate...
postcode_nearest                                                                GL13NN
time_ambulance_called       mean                                                   NaN
                            std                                                    NaN
time_ambulance_arrival      mean                                                   NaN
                            std                                                    NaN
time_ambulance_leaves_scene mean                                                   NaN
                            std                                                    NaN
time_admitting_unit_arrival mean                                                   NaN
                            std                                                    NaN
time_needle                 mean                                                   NaN
                            std                                                    NaN
time_transfer_unit_arrival  mean                                                   NaN
                            std                                                    NaN
time_puncture               mean                                                   NaN
                            std                                                    NaN
mRS shift                   mean                                                   NaN
                            std                                                    NaN
utility_shift               mean                                                   NaN
                            std                                                    NaN
mRS 0-2                     mean                                                   NaN
                            std                                                    NaN

LSOA11NM                                                    Basingstoke and Deane 003C  \
property                    subtype
OBJECTID                                                                         21904
LSOA11CD                                                                     E01022499
LSOA11NMW                                                   Basingstoke and Deane 003C
BNG_E                                                                           443529
BNG_N                                                                           162328
LONG                                                                          -1.37621
LAT                                                                           51.35836
Shape__Area                                                             1598151.950348
Shape__Length                                                              5039.530454
GlobalID                                          f129c44f-648c-4d6b-bd58-d9a180ca231e
geometry                             POLYGON ((443621.3263589097 161387.80785026992...
ICB22NM                              NHS Hampshire and Isle of Wight Integrated Car...
postcode_nearest                                                                SN36BB
time_ambulance_called       mean                                                   NaN
                            std                                                    NaN
time_ambulance_arrival      mean                                                   NaN
                            std                                                    NaN
time_ambulance_leaves_scene mean                                                   NaN
                            std                                                    NaN
time_admitting_unit_arrival mean                                                   NaN
                            std                                                    NaN
time_needle                 mean                                                   NaN
                            std                                                    NaN
time_transfer_unit_arrival  mean                                                   NaN
                            std                                                    NaN
time_puncture               mean                                                   NaN
                            std                                                    NaN
mRS shift                   mean                                                   NaN
                            std                                                    NaN
utility_shift               mean                                                   NaN
                            std                                                    NaN
mRS 0-2                     mean                                                   NaN
                            std                                                    NaN

LSOA11NM                                                           West Berkshire 021B
property                    subtype
OBJECTID                                                                         15815
LSOA11CD                                                                     E01016290
LSOA11NMW                                                          West Berkshire 021B
BNG_E                                                                           445983
BNG_N                                                                           164636
LONG                                                                          -1.34067
LAT                                                                           51.37892
Shape__Area                                                              473638.217285
Shape__Length                                                              4153.744525
GlobalID                                          32287273-28f1-49b2-8296-557545d34ece
geometry                             POLYGON ((446022.8703990138 165019.65845469065...
ICB22NM                              NHS Buckinghamshire, Oxfordshire and Berkshire...
postcode_nearest                                                                SN36BB
time_ambulance_called       mean                                                   NaN
                            std                                                    NaN
time_ambulance_arrival      mean                                                   NaN
                            std                                                    NaN
time_ambulance_leaves_scene mean                                                   NaN
                            std                                                    NaN
time_admitting_unit_arrival mean                                                   NaN
                            std                                                    NaN
time_needle                 mean                                                   NaN
                            std                                                    NaN
time_transfer_unit_arrival  mean                                                   NaN
                            std                                                    NaN
time_puncture               mean                                                   NaN
                            std                                                    NaN
mRS shift                   mean                                                   NaN
                            std                                                    NaN
utility_shift               mean                                                   NaN
                            std                                                    NaN
mRS 0-2                     mean                                                   NaN
                            std                                                    NaN

In [14]:
for c in pathway_map.gdf_boundaries_lsoa.columns:
    print(c)

('OBJECTID', '')
('LSOA11CD', '')
('LSOA11NMW', '')
('BNG_E', '')
('BNG_N', '')
('LONG', '')
('LAT', '')
('Shape__Area', '')
('Shape__Length', '')
('GlobalID', '')
('geometry', '')
('ICB22NM', '')
('postcode_nearest', '')
('time_ambulance_called', 'mean')
('time_ambulance_called', 'std')
('time_ambulance_arrival', 'mean')
('time_ambulance_arrival', 'std')
('time_ambulance_leaves_scene', 'mean')
('time_ambulance_leaves_scene', 'std')
('time_admitting_unit_arrival', 'mean')
('time_admitting_unit_arrival', 'std')
('time_needle', 'mean')
('time_needle', 'std')
('time_transfer_unit_arrival', 'mean')
('time_transfer_unit_arrival', 'std')
('time_puncture', 'mean')
('time_puncture', 'std')
('mRS shift', 'mean')
('mRS shift', 'std')
('utility_shift', 'mean')
('utility_shift', 'std')
('mRS 0-2', 'mean')
('mRS 0-2', 'std')

## Plotting

In [15]:
pathway_map.plot_map_selected_units(col='ICB22NM')

AttributeError: 'Map' object has no attribute 'plot_map_selected_units'

In [ ]:
# TEMPORARILY commented out for speed of running. 29th Jan 2024
pathway_map.plot_map_catchment(col='ICB22NM')

In [ ]:
pathway_map.plot_map_outcome(col='ICB22NM',
    outcome='mrs_shift', destination_type=1 # TO DO - GET THIS FROM VARS FROM FILE OR SOMETHING
)