In [1]:
from classes.setup import Setup

setup = Setup()
setup.import_from_file('./output/birds!62/setup.yml')

In [2]:
from classes.map import Map

pathway_map = Map(
    {
        'setup': setup
    }
)

pathway_map.load_run_data()#'drip-and-ship')

## Check loaded data

In [3]:
pathway_map.df_lsoa.head(3).T

LSOA11NM                                               Basingstoke and Deane 003C  \
scenario      property
any           LSOA11CD                                                  E01022499
              ICB22NM           NHS Hampshire and Isle of Wight Integrated Car...
drip-and-ship postcode_nearest                                             SN36BB
              Use                                                             1.0
mothership    postcode_nearest                                                NaN
              Use                                                             NaN

LSOA11NM                                        Bath and North East Somerset 001A  \
scenario      property
any           LSOA11CD                                                  E01014399
              ICB22NM           NHS Bath and North East Somerset, Swindon and ...
drip-and-ship postcode_nearest                                             BA13NG
              Use                                                             1.0
mothership    postcode_nearest                                            BS105NB
              Use                                                             1.0

LSOA11NM                                        Bath and North East Somerset 001B
scenario      property
any           LSOA11CD                                                  E01014400
              ICB22NM           NHS Bath and North East Somerset, Swindon and ...
drip-and-ship postcode_nearest                                             BA13NG
              Use                                                             1.0
mothership    postcode_nearest                                            BS105NB
              Use                                                             1.0

In [4]:
pathway_map.df_regions.head(3).T

ICB22NM                               NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board  \
scenario      property
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1

ICB22NM                               NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board  \
scenario      property
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1

ICB22NM                               NHS Buckinghamshire, Oxfordshire and Berkshire West Integrated Care Board
scenario      property
drip-and-ship contains_selected_unit                                                  0
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  0
              contains_selected_lsoa                                                  0

In [5]:
pathway_map.df_units.head(3).T

Postcode                                                                BA13NG  \
scenario      property
any           Hospital_name                                             BA13NG
              SSNAP name                            Royal United Hospital Bath
              ICB22NM        NHS Bath and North East Somerset, Swindon and ...
              Easting                                                   372876
              Northing                                                  165920
              long                                                   -2.391218
              lat                                                    51.391665
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1
mothership    Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1

Postcode                                                BA214AT  \
scenario      property
any           Hospital_name                             BA214AT
              SSNAP name               Yeovil District Hospital
              ICB22NM        NHS Somerset Integrated Care Board
              Easting                                    355505
              Northing                                   116348
              long                                    -2.634712
              lat                                     50.944843
drip-and-ship Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1
mothership    Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1

Postcode                                                               BS105NB
scenario      property
any           Hospital_name                                            BS105NB
              SSNAP name                               North Bristol Hospitals
              ICB22NM        NHS Bristol, North Somerset and South Gloucest...
              Easting                                                   358934
              Northing                                                  177759
              long                                                   -2.592962
              lat                                                     51.49727
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1
mothership    Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1

In [6]:
pathway_map.df_transfer.head(3).T

Postcode                          BA13NG        BA214AT        BS105NB
name_nearest_MT                  BS105NB        BS105NB        BS105NB
scenario      property
any           Easting      372876.000000  355505.000000  358934.000000
              Northing     165920.000000  116348.000000  177759.000000
              long             -2.391218      -2.634712      -2.592962
              lat              51.391665      50.944843      51.497270
              Easting_mt   358934.000000  358934.000000  358934.000000
              Northing_mt  177759.000000  177759.000000  177759.000000
              long_mt          -2.592962      -2.592962      -2.592962
              lat_mt           51.497270      51.497270      51.497270
drip-and-ship Use               1.000000       1.000000       1.000000
mothership    Use               1.000000       1.000000       1.000000

In [7]:
pathway_map.df_results_by_lsoa.head(3).T

lsoa                                                                     Bath and North East Somerset 003D  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                                  30.0
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                  60.0
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                  80.0
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                  97.6
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

lsoa                                                                     Bath and North East Somerset 012B  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                             30.000000
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                             60.000000
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                             80.000000
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                             93.300000
                                                                std                                    NaN
                                    time_needle                 mean                            123.300000
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                            187.000000
                                                                std                                    NaN
                                    time_puncture               mean                            247.000000
                                                                std                                    NaN
                                    mRS shift                   mean                             -0.584139
                                                                std                                    NaN
                                    utility_shift               mean                              0.118184
                                                                std                                    NaN
                                    mRS 0-2                     mean                              0.389271
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

lsoa                                                                     Bath and North East Somerset 017A
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                                   NaN
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                                   NaN
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                                   NaN
                                                                std                                    NaN
                                    time_needle                 mean                                   NaN
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN
mothership                          time_ambulance_called       mean                             30.000000
                                                                std                                    NaN
                                    time_ambulance_arrival      mean                             60.000000
                                                                std                                    NaN
                                    time_ambulance_leaves_scene mean                             80.000000
                                                                std                                    NaN
                                    time_admitting_unit_arrival mean                             91.200000
                                                                std                                    NaN
                                    time_needle                 mean                            121.200000
                                                                std                                    NaN
                                    time_transfer_unit_arrival  mean                                   NaN
                                                                std                                    NaN
                                    time_puncture               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                             -0.555518
                                                                std                                    NaN
                                    utility_shift               mean                              0.101866
                                                                std                                    NaN
                                    mRS 0-2                     mean                              0.690960
                                                                std                                    NaN
diff_drip-and-ship_minus_mothership utility_shift               mean                                   NaN
                                                                std                                    NaN
                                    mRS shift                   mean                                   NaN
                                                                std                                    NaN
                                    mRS 0-2                     mean                                   NaN
                                                                std                                    NaN

In [8]:
pathway_map.df_results_by_unit.head(3).T

closest_ivt_unit                                                             BA13NG  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     108.350000
                                                                std        9.519604
                                    time_needle                 mean     137.271429
                                                                std        9.740074
                                    time_transfer_unit_arrival  mean     199.900000
                                                                std       18.243355
                                    time_puncture               mean     259.900000
                                                                std       18.243355
                                    mRS shift                   mean      -0.526098
                                                                std        0.029729
                                    utility_shift               mean       0.099839
                                                                std        0.008838
                                    mRS 0-2                     mean       0.597556
                                                                std        0.148013
mothership                          time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     108.355556
                                                                std        9.557995
                                    time_needle                 mean     136.750000
                                                                std       10.451316
                                    time_transfer_unit_arrival  mean     204.200000
                                                                std             NaN
                                    time_puncture               mean     264.200000
                                                                std             NaN
                                    mRS shift                   mean      -0.525412
                                                                std        0.022484
                                    utility_shift               mean       0.099282
                                                                std        0.006886
                                    mRS 0-2                     mean       0.608364
                                                                std        0.153463
diff_drip-and-ship_minus_mothership utility_shift               mean       0.000556
                                                                std        0.011204
                                    mRS shift                   mean      -0.000686
                                                                std        0.037274
                                    mRS 0-2                     mean      -0.010808
                                                                std        0.213210

closest_ivt_unit                                                            BA214AT  \
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     102.514286
                                                                std       12.472427
                                    time_needle                 mean     138.075000
                                                                std       12.308635
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean            NaN
                                                                std             NaN
                                    mRS shift                   mean      -0.518385
                                                                std        0.027084
                                    utility_shift               mean       0.095446
                                                                std        0.004682
                                    mRS 0-2                     mean       0.684001
                                                                std        0.005076
mothership                          time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean     104.066667
                                                                std        9.866239
                                    time_needle                 mean     130.050000
                                                                std        9.876065
                                    time_transfer_unit_arrival  mean     230.000000
                                                                std             NaN
                                    time_puncture               mean     290.000000
                                                                std             NaN
                                    mRS shift                   mean      -0.511691
                                                                std        0.046870
                                    utility_shift               mean       0.096558
                                                                std        0.004499
                                    mRS 0-2                     mean       0.605511
                                                                std        0.162408
diff_drip-and-ship_minus_mothership utility_shift               mean      -0.001112
                                                                std        0.006494
                                    mRS shift                   mean      -0.006694
                                                                std        0.054132
                                    mRS 0-2                     mean       0.078490
                                                                std        0.162488

closest_ivt_unit                                                            BS105NB
scenario                            property                    subtype
drip-and-ship                       time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean      99.362500
                                                                std        6.213105
                                    time_needle                 mean     131.480000
                                                                std        5.182374
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean     135.150000
                                                                std        7.566043
                                    mRS shift                   mean      -0.704648
                                                                std        0.228113
                                    utility_shift               mean       0.134005
                                                                std        0.048123
                                    mRS 0-2                     mean       0.597931
                                                                std        0.123013
mothership                          time_ambulance_called       mean      30.000000
                                                                std        0.000000
                                    time_ambulance_arrival      mean      60.000000
                                                                std        0.000000
                                    time_ambulance_leaves_scene mean      80.000000
                                                                std        0.000000
                                    time_admitting_unit_arrival mean      99.644444
                                                                std        6.575734
                                    time_needle                 mean     130.483333
                                                                std        7.168380
                                    time_transfer_unit_arrival  mean            NaN
                                                                std             NaN
                                    time_puncture               mean     127.600000
                                                                std        0.000000
                                    mRS shift                   mean      -0.681268
                                                                std        0.231801
                                    utility_shift               mean       0.128974
                                                                std        0.048367
                                    mRS 0-2                     mean       0.613797
                                                                std        0.112741
diff_drip-and-ship_minus_mothership utility_shift               mean       0.005031
                                                                std        0.068229
                                    mRS shift                   mean      -0.023380
                                                                std        0.325219
                                    mRS 0-2                     mean      -0.015866
                                                                std        0.166862

## Process data

In [9]:
pathway_map.process_data()

## Check contents of resulting dataframes

In [10]:
pathway_map.gdf_points_units.head(3).T

Postcode                                                                BA13NG  \
scenario      property
any           Hospital_name                                             BA13NG
              SSNAP name                            Royal United Hospital Bath
              ICB22NM        NHS Bath and North East Somerset, Swindon and ...
              Easting                                                   372876
              Northing                                                  165920
              long                                                   -2.391218
              lat                                                    51.391665
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1
mothership    Use_IVT                                                        1
              Use_MT                                                         0
              Use_MSU                                                        0
              Use                                                            1
any           geometry                                   POINT (372876 165920)

Postcode                                                BA214AT  \
scenario      property
any           Hospital_name                             BA214AT
              SSNAP name               Yeovil District Hospital
              ICB22NM        NHS Somerset Integrated Care Board
              Easting                                    355505
              Northing                                   116348
              long                                    -2.634712
              lat                                     50.944843
drip-and-ship Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1
mothership    Use_IVT                                         1
              Use_MT                                          0
              Use_MSU                                         0
              Use                                             1
any           geometry                    POINT (355505 116348)

Postcode                                                               BS105NB
scenario      property
any           Hospital_name                                            BS105NB
              SSNAP name                               North Bristol Hospitals
              ICB22NM        NHS Bristol, North Somerset and South Gloucest...
              Easting                                                   358934
              Northing                                                  177759
              long                                                   -2.592962
              lat                                                     51.49727
drip-and-ship Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1
mothership    Use_IVT                                                        1
              Use_MT                                                         1
              Use_MSU                                                        1
              Use                                                            1
any           geometry                                   POINT (358934 177759)

In [11]:
pathway_map.gdf_lines_transfer.head(3).T

Postcode                                                          BA13NG  \
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             372876
              Northing                                            165920
              long                                             -2.391218
              lat                                              51.391665
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                      1
any           unit_coords                               [372876, 165920]
              transfer_coords                           [358934, 177759]
              line_coords           [[372876, 165920], [358934, 177759]]
              line_geometry    LINESTRING (372876 165920, 358934 177759)

Postcode                                                         BA214AT  \
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             355505
              Northing                                            116348
              long                                             -2.634712
              lat                                              50.944843
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                      1
any           unit_coords                               [355505, 116348]
              transfer_coords                           [358934, 177759]
              line_coords           [[355505, 116348], [358934, 177759]]
              line_geometry    LINESTRING (355505 116348, 358934 177759)

Postcode                                                         BS105NB
name_nearest_MT                                                  BS105NB
scenario      property
any           Easting                                             358934
              Northing                                            177759
              long                                             -2.592962
              lat                                               51.49727
              Easting_mt                                          358934
              Northing_mt                                         177759
              long_mt                                          -2.592962
              lat_mt                                            51.49727
drip-and-ship Use                                                      1
mothership    Use                                                      1
any           unit_coords                               [358934, 177759]
              transfer_coords                           [358934, 177759]
              line_coords           [[358934, 177759], [358934, 177759]]
              line_geometry    LINESTRING (358934 177759, 358934 177759)

In [12]:
pathway_map.gdf_boundaries_regions.head(3).T

ICB22NM                              NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board  \
scenario      property
any           ICB22CD                                                         E54000040
              BNG_E                                                              393349
              BNG_N                                                              154962
              LONG                                                             -2.09676
              LAT                                                              51.29374
              OBJECTID                                                               24
              geometry                POLYGON ((422030.096 199080.267000001, 422033....
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
any           colour                                                      RebeccaPurple

ICB22NM                              NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board  \
scenario      property
any           ICB22CD                                                         E54000039
              BNG_E                                                              366745
              BNG_N                                                              176370
              LONG                                                             -2.48031
              LAT                                                              51.48529
              OBJECTID                                                               23
              geometry                MULTIPOLYGON (((323181.2027 160548.502800001, ...
drip-and-ship contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  1
              contains_selected_lsoa                                                  1
any           colour                                                               Teal

ICB22NM                              NHS Buckinghamshire, Oxfordshire and Berkshire West Integrated Care Board
scenario      property
any           ICB22CD                                                         E54000044
              BNG_E                                                              459681
              BNG_N                                                              205725
              LONG                                                             -1.13691
              LAT                                                              51.74705
              OBJECTID                                                               28
              geometry                POLYGON ((446553.813 251430.422, 446526.5 2513...
drip-and-ship contains_selected_unit                                                  0
              contains_selected_lsoa                                                  1
mothership    contains_selected_unit                                                  0
              contains_selected_lsoa                                                  0
any           colour                                                        ForestGreen

In [13]:
pathway_map.gdf_boundaries_lsoa.head(3).T

LSOA11NM                          Basingstoke and Deane 003C  \
scenario   property      subtype
any        OBJECTID                                    21904
           LSOA11CD                                E01022499
           LSOA11NMW              Basingstoke and Deane 003C
           BNG_E                                      443529
           BNG_N                                      162328
...                                                      ...
mothership mRS shift     std                             NaN
           utility_shift mean                            NaN
                         std                             NaN
           mRS 0-2       mean                            NaN
                         std                             NaN

LSOA11NM                          Bath and North East Somerset 001A  \
scenario   property      subtype
any        OBJECTID                                           13969
           LSOA11CD                                       E01014399
           LSOA11NMW              Bath and North East Somerset 001A
           BNG_E                                             363866
           BNG_N                                             169049
...                                                             ...
mothership mRS shift     std                                    NaN
           utility_shift mean                                   NaN
                         std                                    NaN
           mRS 0-2       mean                                   NaN
                         std                                    NaN

LSOA11NM                          Bath and North East Somerset 001B
scenario   property      subtype
any        OBJECTID                                           13970
           LSOA11CD                                       E01014400
           LSOA11NMW              Bath and North East Somerset 001B
           BNG_E                                             365422
           BNG_N                                             168755
...                                                             ...
mothership mRS shift     std                                    NaN
           utility_shift mean                                   NaN
                         std                                    NaN
           mRS 0-2       mean                                   NaN
                         std                                    NaN

[62 rows x 3 columns]

In [14]:
for c in pathway_map.gdf_boundaries_lsoa.columns:
    print(c)

('any', 'OBJECTID', '')
('any', 'LSOA11CD', '')
('any', 'LSOA11NMW', '')
('any', 'BNG_E', '')
('any', 'BNG_N', '')
('any', 'LONG', '')
('any', 'LAT', '')
('any', 'Shape__Area', '')
('any', 'Shape__Length', '')
('any', 'GlobalID', '')
('any', 'geometry', '')
('any', 'ICB22NM', '')
('diff_drip-and-ship_minus_mothership', 'utility_shift', 'mean')
('diff_drip-and-ship_minus_mothership', 'utility_shift', 'std')
('diff_drip-and-ship_minus_mothership', 'mRS shift', 'mean')
('diff_drip-and-ship_minus_mothership', 'mRS shift', 'std')
('diff_drip-and-ship_minus_mothership', 'mRS 0-2', 'mean')
('diff_drip-and-ship_minus_mothership', 'mRS 0-2', 'std')
('drip-and-ship', 'postcode_nearest', '')
('drip-and-ship', 'Use', '')
('drip-and-ship', 'time_ambulance_called', 'mean')
('drip-and-ship', 'time_ambulance_called', 'std')
('drip-and-ship', 'time_ambulance_arrival', 'mean')
('drip-and-ship', 'time_ambulance_arrival', 'std')
('drip-and-ship', 'time_ambulance_leaves_scene', 'mean')
('drip-and-ship', 'time_ambulance_leaves_scene', 'std')
('drip-and-ship', 'time_admitting_unit_arrival', 'mean')
('drip-and-ship', 'time_admitting_unit_arrival', 'std')
('drip-and-ship', 'time_needle', 'mean')
('drip-and-ship', 'time_needle', 'std')
('drip-and-ship', 'time_transfer_unit_arrival', 'mean')
('drip-and-ship', 'time_transfer_unit_arrival', 'std')
('drip-and-ship', 'time_puncture', 'mean')
('drip-and-ship', 'time_puncture', 'std')
('drip-and-ship', 'mRS shift', 'mean')
('drip-and-ship', 'mRS shift', 'std')
('drip-and-ship', 'utility_shift', 'mean')
('drip-and-ship', 'utility_shift', 'std')
('drip-and-ship', 'mRS 0-2', 'mean')
('drip-and-ship', 'mRS 0-2', 'std')
('mothership', 'postcode_nearest', '')
('mothership', 'Use', '')
('mothership', 'time_ambulance_called', 'mean')
('mothership', 'time_ambulance_called', 'std')
('mothership', 'time_ambulance_arrival', 'mean')
('mothership', 'time_ambulance_arrival', 'std')
('mothership', 'time_ambulance_leaves_scene', 'mean')
('mothership', 'time_ambulance_leaves_scene', 'std')
('mothership', 'time_admitting_unit_arrival', 'mean')
('mothership', 'time_admitting_unit_arrival', 'std')
('mothership', 'time_needle', 'mean')
('mothership', 'time_needle', 'std')
('mothership', 'time_transfer_unit_arrival', 'mean')
('mothership', 'time_transfer_unit_arrival', 'std')
('mothership', 'time_puncture', 'mean')
('mothership', 'time_puncture', 'std')
('mothership', 'mRS shift', 'mean')
('mothership', 'mRS shift', 'std')
('mothership', 'utility_shift', 'mean')
('mothership', 'utility_shift', 'std')
('mothership', 'mRS 0-2', 'mean')
('mothership', 'mRS 0-2', 'std')

## Plotting

In [15]:
pathway_map.gdf_boundaries_regions.geometry

ICB22NM
NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board    POLYGON ((422030.096 199080.267, 422033.500 19...
NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board      MULTIPOLYGON (((323181.203 160548.503, 322810....
NHS Buckinghamshire, Oxfordshire and Berkshire West Integrated Care Board        POLYGON ((446553.813 251430.422, 446526.500 25...
NHS Cornwall and the Isles of Scilly Integrated Care Board                       MULTIPOLYGON (((83999.700 5358.600, 83889.790 ...
NHS Devon Integrated Care Board                                                  MULTIPOLYGON (((264853.550 44025.830, 264942.9...
NHS Dorset Integrated Care Board                                                 MULTIPOLYGON (((369298.205 74442.929, 369297.6...
NHS Gloucestershire Integrated Care Board                                        POLYGON ((423049.194 232166.407, 423126.999 23...
NHS Hampshire and Isle of Wight Integrated Care Board                            MULTIPOLYGON (((431544.157 90574.796, 431529.3...
NHS Herefordshire and Worcestershire Integrated Care Board                       POLYGON ((388888.001 281369.374, 390286.813 28...
NHS Somerset Integrated Care Board                                               MULTIPOLYGON (((329273.929 147751.861, 329203....
Name: (any, geometry), dtype: geometry

In [16]:
sean_bean = pathway_map.gdf_boundaries_regions[['any', 'mothership']].droplevel(0, axis='columns')
sean_bean = sean_bean.set_geometry('geometry')

sean_bean.geometry

ICB22NM
NHS Bath and North East Somerset, Swindon and Wiltshire Integrated Care Board    POLYGON ((422030.096 199080.267, 422033.500 19...
NHS Bristol, North Somerset and South Gloucestershire Integrated Care Board      MULTIPOLYGON (((323181.203 160548.503, 322810....
NHS Buckinghamshire, Oxfordshire and Berkshire West Integrated Care Board        POLYGON ((446553.813 251430.422, 446526.500 25...
NHS Cornwall and the Isles of Scilly Integrated Care Board                       MULTIPOLYGON (((83999.700 5358.600, 83889.790 ...
NHS Devon Integrated Care Board                                                  MULTIPOLYGON (((264853.550 44025.830, 264942.9...
NHS Dorset Integrated Care Board                                                 MULTIPOLYGON (((369298.205 74442.929, 369297.6...
NHS Gloucestershire Integrated Care Board                                        POLYGON ((423049.194 232166.407, 423126.999 23...
NHS Hampshire and Isle of Wight Integrated Care Board                            MULTIPOLYGON (((431544.157 90574.796, 431529.3...
NHS Herefordshire and Worcestershire Integrated Care Board                       POLYGON ((388888.001 281369.374, 390286.813 28...
NHS Somerset Integrated Care Board                                               MULTIPOLYGON (((329273.929 147751.861, 329203....
Name: geometry, dtype: geometry

In [17]:
type(pathway_map.gdf_boundaries_regions)

geopandas.geodataframe.GeoDataFrame

In [18]:
pathway_map.plot_map_selected_units(scenario='drip-and-ship')

ValueError: Unknown column geometry

In [ ]:
pathway_map.plot_map_catchment(scenario='drip-and-ship')
pathway_map.plot_map_catchment(scenario='mothership')

In [ ]:
pathway_map.plot_map_outcome(col='ICB22NM',
    outcome='mrs_shift', destination_type=1 # TO DO - GET THIS FROM VARS FROM FILE OR SOMETHING
)