# Maps with pathway outputs

In [1]:
import pandas as pd
import os

In [2]:
dir_output = os.path.join('output', 'sparky11111111111', 'combined')

In [3]:
# Load in the data

df_units = pd.read_csv(
    os.path.join(dir_output, 'df_units.csv'),
    index_col=0,
    header=[0, 1],
)
df_transfer = pd.read_csv(
    os.path.join(dir_output, 'df_transfer.csv'),
    index_col=[0, 1],
    header=[0, 1],
)
df_lsoa = pd.read_csv(
    os.path.join(dir_output, 'df_lsoa.csv'),
    index_col=[0, 1],
    header=[0, 1],
)
df_results_lsoa = pd.read_csv(
    os.path.join(dir_output, 'results_summary_by_lsoa.csv'),
    index_col=[0, 1],
    header=[0, 1, 2],
)

In [4]:
df_units.head(3)

property,stroke_team,short_code,ssnap_name,lsoa_code,region,region_code,region_type,country,icb,icb_code,...,use_ivt,use_mt,use_msu,selected,transfer_unit_postcode,use_ivt,use_mt,use_msu,selected,transfer_unit_postcode
scenario,any,any,any,any,any,any,any,any,any,any,...,drip-and-ship,drip-and-ship,drip-and-ship,drip-and-ship,drip-and-ship,mothership,mothership,mothership,mothership,mothership
postcode,,,,,,,,,,,,,,,,,,,,,
B152TH,"Queen Elizabeth Hospital, Birmingham",QE,Queen Elizabeth Hospital Edgbaston,E01033562,NHS Birmingham and Solihull ICB - 15E,E38000258,SICBL,England,NHS Birmingham and Solihull Integrated Care Board,E54000055,...,1,1,1,0,nearest,1,1,1,0,nearest
B714HJ,"Sandwell District Hospital, West Bromwich",SW,Sandwell District Hospital,E01010104,NHS Black Country ICB - D2P2L,E38000259,SICBL,England,NHS Black Country Integrated Care Board,E54000062,...,1,0,0,0,nearest,0,0,0,0,nearest
B95SS,Birmingham Heartlands Hospital,BM,Birmingham Heartlands Hospital,E01009341,NHS Birmingham and Solihull ICB - 15E,E38000258,SICBL,England,NHS Birmingham and Solihull Integrated Care Board,E54000055,...,0,0,0,0,nearest,0,0,0,0,nearest

In [5]:
df_transfer.head(5)

property                        transfer_unit_travel_time      selected  \
scenario                                              any drip-and-ship
postcode transfer_unit_postcode
B152TH   B152TH                                       0.0           0.0
B714HJ   B152TH                                      18.7           0.0
         NaN                                          NaN           NaN
B95SS    NaN                                          NaN           0.0
BA13NG   BS105NB                                     33.7           1.0

property
scenario                        mothership
postcode transfer_unit_postcode
B152TH   B152TH                        0.0
B714HJ   B152TH                        NaN
         NaN                           0.0
B95SS    NaN                           0.0
BA13NG   BS105NB                       NaN

In [6]:
df_lsoa.head(3)

,property,admissions,unit_postcode,unit_travel_time,selected,relative_frequency,unit_postcode,unit_travel_time,selected,relative_frequency
,scenario,any,drip-and-ship,drip-and-ship,drip-and-ship,drip-and-ship,mothership,mothership,mothership,mothership
lsoa,lsoa_code,,,,,,,,,
Adur 001A,E01031349,1.333333,BN25BE,17.6,0,NaN,BN25BE,17.6,0,NaN
Adur 001B,E01031350,1.666667,BN112DH,18.7,0,NaN,BN25BE,18.7,0,NaN
Adur 001C,E01031351,2.000000,BN112DH,17.6,0,NaN,BN25BE,19.8,0,NaN

In [7]:
df_results_lsoa.head(3)

property                                    time_ambulance_called       \
scenario                                            drip-and-ship
subtype                                                      mean  std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                  30.0  0.0
Bath and North East Somerset 001B E01014400                  30.0  0.0
Bath and North East Somerset 001C E01014401                  30.0  0.0

property                                    time_ambulance_arrival       \
scenario                                             drip-and-ship
subtype                                                       mean  std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                   60.0  0.0
Bath and North East Somerset 001B E01014400                   60.0  0.0
Bath and North East Somerset 001C E01014401                   60.0  0.0

property                                    time_ambulance_leaves_scene       \
scenario                                                  drip-and-ship
subtype                                                            mean  std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                        80.0  0.0
Bath and North East Somerset 001B E01014400                        80.0  0.0
Bath and North East Somerset 001C E01014401                        80.0  0.0

property                                    time_admitting_unit_arrival       \
scenario                                                  drip-and-ship
subtype                                                            mean  std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                        99.8  0.0
Bath and North East Somerset 001B E01014400                        97.6  0.0
Bath and North East Somerset 001C E01014401                        98.7  0.0

property                                      time_needle       ...  \
scenario                                    drip-and-ship       ...
subtype                                              mean  std  ...
lsoa                              lsoa_code                     ...
Bath and North East Somerset 001A E01014399         129.8  NaN  ...
Bath and North East Somerset 001B E01014400         127.6  NaN  ...
Bath and North East Somerset 001C E01014401         128.7  0.0  ...

property                                    utility_shift            \
scenario                                       mothership
subtype                                              mean       std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399           NaN       NaN
Bath and North East Somerset 001B E01014400      0.187306  0.000000
Bath and North East Somerset 001C E01014401      0.142142  0.063871

property                                       mRS 0-2            \
scenario                                    mothership
subtype                                           mean       std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399        NaN       NaN
Bath and North East Somerset 001B E01014400   0.463912  0.000000
Bath and North East Somerset 001C E01014401   0.574786  0.156799

property                                                          utility_shift  \
scenario                                    diff_drip-and-ship_minus_mothership
subtype                                                                    mean
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                                 NaN
Bath and North East Somerset 001B E01014400                           -0.071714
Bath and North East Somerset 001C E01014401                           -0.032512

property                                               \
scenario
subtype                                           std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399       NaN
Bath and North East Somerset 001B E01014400  0.000000
Bath and North East Somerset 001C E01014401  0.064527

property                                                              mRS shift  \
scenario                                    diff_drip-and-ship_minus_mothership
subtype                                                                    mean
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                                 NaN
Bath and North East Somerset 001B E01014400                            0.387266
Bath and North East Somerset 001C E01014401                            0.184809

property                                               \
scenario
subtype                                           std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399       NaN
Bath and North East Somerset 001B E01014400  0.000000
Bath and North East Somerset 001C E01014401  0.304822

property                                                                mRS 0-2  \
scenario                                    diff_drip-and-ship_minus_mothership
subtype                                                                    mean
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399                                 NaN
Bath and North East Somerset 001B E01014400                           -0.077406
Bath and North East Somerset 001C E01014401                           -0.088291

property
scenario
subtype                                          std
lsoa                              lsoa_code
Bath and North East Somerset 001A E01014399      NaN
Bath and North East Somerset 001B E01014400  0.00000
Bath and North East Somerset 001C E01014401  0.23453

[3 rows x 46 columns]

In [8]:
import classes.geo_creation as gc

In [9]:
df_regions = gc.load_regions()

In [10]:
df_regions

,,region_type,short_code,country,icb,icb_code,isdn
,,any,any,any,any,any,any
region,region_code,,,,,,
Aneurin Bevan University Health Board,W11000028,LHB,AB,Wales,NaN,NaN,NaN
"NHS Bath and North East Somerset, Swindon and Wiltshire ICB - 92G",E38000231,SICBL,BA,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset"
Betsi Cadwaladr University Health Board,W11000023,LHB,BC,Wales,NaN,NaN,NaN
"NHS Bedfordshire, Luton and Milton Keynes ICB - M1J4Y",E38000249,SICBL,BD,England,"NHS Bedfordshire, Luton and Milton Keynes Inte...",E54000024,East of England (South)
NHS Black Country ICB - D2P2L,E38000259,SICBL,BL,England,NHS Black Country Integrated Care Board,E54000062,North Midlands
...,...,...,...,...,...,...,...
NHS West Yorkshire ICB - 02T,E38000025,SICBL,WY1,England,NHS West Yorkshire Integrated Care Board,E54000054,West Yorkshire and Harrogate
NHS West Yorkshire ICB - 03R,E38000190,SICBL,WY2,England,NHS West Yorkshire Integrated Care Board,E54000054,West Yorkshire and Harrogate
NHS West Yorkshire ICB - 15F,E38000225,SICBL,WY3,England,NHS West Yorkshire Integrated Care Board,E54000054,West Yorkshire and Harrogate
NHS West Yorkshire ICB - 36J,E38000232,SICBL,WY4,England,NHS West Yorkshire Integrated Care Board,E54000054,West Yorkshire and Harrogate
NHS West Yorkshire ICB - X2C4Y,E38000254,SICBL,WY5,England,NHS West Yorkshire Integrated Care Board,E54000054,West Yorkshire and Harrogate

In [11]:
(
    gdf_boundaries_regions,
    gdf_points_units,
    gdf_lines_transfer,
    gdf_boundaries_lsoa,
    gdf_boundaries_catchment
) = gc.make_all_geometry_data(
    df_lsoa, df_units, df_regions, df_transfer, df_results_lsoa
    )

/home/anna/miniconda3/envs/simpy/lib/python3.10/site-packages/geopandas/geodataframe.py:1474: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = super().__getitem__(key)
/home/anna/miniconda3/envs/simpy/lib/python3.10/site-packages/geopandas/geodataframe.py:1474: PerformanceWarning: indexing past lexsort depth may impact performance.
  result = super().__getitem__(key)

In [12]:
gdf_boundaries_regions.head(3)

property,region,region_code,BNG_E,BNG_N,GlobalID,LAT,LONG,country,geometry,icb,icb_code,isdn,region_type,short_code,contains_periphery_lsoa,contains_periphery_unit,contains_unit,contains_periphery_lsoa,contains_periphery_unit,contains_unit
scenario,,,any,any,any,any,any,any,any,any,any,any,any,any,drip-and-ship,drip-and-ship,drip-and-ship,mothership,mothership,mothership
id,,,,,,,,,,,,,,,,,,,,
0,Aneurin Bevan University Health Board,W11000028,331785,205411,b6af30e1-0a47-4411-9621-b2037487094e,51.74323,-2.9894,Wales,"MULTIPOLYGON (((345920.600 181082.100, 345884....",NaN,NaN,NaN,LHB,AB,1,0,0,1,0,0
1,"NHS Bath and North East Somerset, Swindon and ...",E38000231,393349,154962,e0b99a7f-b497-4c8e-8ca9-fe6a8100eb54,51.29374,-2.09676,England,"POLYGON ((422030.096 199080.267, 420824.313 19...","NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",SICBL,BA,1,0,1,1,0,0
2,Betsi Cadwaladr University Health Board,W11000023,282470,346124,1b0c205c-c731-4c8c-bbf1-f2a32ffead10,52.99951,-3.75275,Wales,"MULTIPOLYGON (((270269.001 319142.796, 270191....",NaN,NaN,NaN,LHB,BC,0,0,0,0,0,0

In [13]:
gdf_points_units.head(3)

property postcode                                stroke_team short_code  \
scenario                                                 any        any
id
0          B152TH       Queen Elizabeth Hospital, Birmingham         QE
1          B714HJ  Sandwell District Hospital, West Bromwich         SW
2           B95SS             Birmingham Heartlands Hospital         BM

property                          ssnap_name  lsoa_code  \
scenario                                 any        any
id
0         Queen Elizabeth Hospital Edgbaston  E01033562
1                 Sandwell District Hospital  E01010104
2             Birmingham Heartlands Hospital  E01009341

property                                 region region_code region_type  \
scenario                                    any         any         any
id
0         NHS Birmingham and Solihull ICB - 15E   E38000258       SICBL
1                 NHS Black Country ICB - D2P2L   E38000259       SICBL
2         NHS Birmingham and Solihull ICB - 15E   E38000258       SICBL

property  country                                                icb  ...  \
scenario      any                                                any  ...
id                                                                    ...
0         England  NHS Birmingham and Solihull Integrated Care Board  ...
1         England            NHS Black Country Integrated Care Board  ...
2         England  NHS Birmingham and Solihull Integrated Care Board  ...

property    use_msu   selected transfer_unit_postcode periphery_unit  \
scenario mothership mothership             mothership  drip-and-ship
id
0                 1          0                nearest              0
1                 0          0                nearest              0
2                 0          0                nearest              0

property                BNG_E     BNG_N   Latitude Longitude  \
scenario mothership       any       any        any       any
id
0                 0  404427.0  283926.0  52.453272 -1.936284
1                 0  400919.0  292165.0  52.527357 -1.987884
2                 0  411645.0  286935.0  52.480218 -1.829966

property                       geometry
scenario
id
0         POINT (404427.000 283926.000)
1         POINT (400919.000 292165.000)
2         POINT (411645.000 286935.000)

[3 rows x 29 columns]

In [14]:
gdf_lines_transfer.head(3)

property postcode transfer_unit_postcode transfer_unit_travel_time  \
scenario                                                       any
id
0          B152TH                 B152TH                       0.0
1          B714HJ                 B152TH                      18.7
2          B714HJ                    NaN                       NaN

property      selected                BNG_E     BNG_N   Latitude Longitude  \
scenario drip-and-ship mothership       any       any        any       any
id
0                  0.0        0.0  404427.0  283926.0  52.453272 -1.936284
1                  0.0        NaN  400919.0  292165.0  52.527357 -1.987884
2                  NaN        0.0  400919.0  292165.0  52.527357 -1.987884

property  BNG_E_mt  BNG_N_mt Latitude_mt Longitude_mt           unit_coords  \
scenario       any       any         any          any
id
0         404427.0  283926.0   52.453272    -1.936284  [404427.0, 283926.0]
1         404427.0  283926.0   52.453272    -1.936284  [400919.0, 292165.0]
2              NaN       NaN         NaN          NaN  [400919.0, 292165.0]

property       transfer_coords                                   line_coords  \
scenario                                                                 any
id
0         [404427.0, 283926.0]  [[404427.0, 283926.0], [404427.0, 283926.0]]
1         [404427.0, 283926.0]  [[400919.0, 292165.0], [404427.0, 283926.0]]
2                   [nan, nan]            [[400919.0, 292165.0], [nan, nan]]

property                                           geometry
scenario                                                any
id
0         LINESTRING (404427.000 283926.000, 404427.000 ...
1         LINESTRING (400919.000 292165.000, 404427.000 ...
2               LINESTRING (400919.000 292165.000, nan nan)

In [15]:
gdf_boundaries_lsoa.head(3)

property                               lsoa  lsoa_code   BNG_E   BNG_N  \
scenario                                                   any     any
subtype
id
0         Bath and North East Somerset 001A  E01014399  363866  169049
1         Bath and North East Somerset 001B  E01014400  365422  168755
2         Bath and North East Somerset 001C  E01014401  364847  168124

property                              GlobalID       LAT     LONG admissions  \
scenario                                   any       any      any        any
subtype
id
0         229c55be-3987-45c9-ad20-d5c379b0ba9b  51.41929 -2.52102        1.0
1         aa5f728f-22aa-4486-be9f-9311687bee97  51.41674 -2.49862        4.0
2         e6663403-8ff5-4c38-8999-2c5d9d796a04  51.41103 -2.50682   2.333333

property                                           geometry  \
scenario                                                any
subtype
id
0         POLYGON ((364607.885 170098.968, 364776.889 16...
1         POLYGON ((364999.412 167979.607, 364863.028 16...
2         POLYGON ((364999.412 167979.607, 364749.604 16...

property                             mRS 0-2  ... time_needle       \
scenario diff_drip-and-ship_minus_mothership  ...  mothership
subtype                                 mean  ...        mean  std
id                                            ...
0                                        NaN  ...         NaN  NaN
1                                  -0.077406  ...       134.1  0.0
2                                  -0.088291  ...       134.1  0.0

property time_puncture      time_transfer_unit_arrival     unit_postcode  \
scenario    mothership                      mothership        mothership
subtype           mean  std                       mean std
id
0                  NaN  NaN                        NaN NaN       BS105NB
1                134.1  0.0                        NaN NaN       BS105NB
2                134.1  NaN                        NaN NaN       BS105NB

property unit_travel_time utility_shift
scenario       mothership    mothership
subtype                            mean       std
id
0                    25.1           NaN       NaN
1                    24.1      0.187306  0.000000
2                    24.1      0.142142  0.063871

[3 rows x 63 columns]

In [16]:
gdf_boundaries_catchment.head(3)

property id    unit                                           geometry  \
scenario
id
0         0  B152TH  MULTIPOLYGON (((401699.919 267288.105, 401354....
1         1  B714HJ  MULTIPOLYGON (((396037.626 274365.864, 395991....
2         2  BA13NG  MULTIPOLYGON (((354183.747 145489.704, 353572....

property drip-and-ship      mothership
scenario      selected  use   selected use
id
0                  0.0  1.0        NaN NaN
1                  0.0  1.0        NaN NaN
2                  1.0  1.0        NaN NaN

Save data to file:

In [17]:
# Create a new maps/ dir for outputs.
dir_output_maps = os.path.join(dir_output, 'maps')
try:
    os.mkdir(dir_output_maps)
except FileExistsError:
    # The directory already exists.
    pass

In [18]:
file_dict = {
    'gdf_boundaries_regions': {
        'file': 'gdf_boundaries_regions.csv',
        'data': gdf_boundaries_regions,
    },
    'gdf_points_units': {
        'file': 'gdf_points_units.csv',
        'data': gdf_points_units,
    },
    'gdf_lines_transfer': {
        'file': 'gdf_lines_transfer.csv',
        'data': gdf_lines_transfer,
    },
    'gdf_boundaries_lsoa': {
        'file': 'gdf_boundaries_lsoa.csv',
        'data': gdf_boundaries_lsoa, 
    },
    'gdf_boundaries_catchment': {
        'file': 'gdf_boundaries_catchment.csv',
        'data': gdf_boundaries_catchment,
    },
}

In [20]:
for data_type, data_dict in file_dict.items():
    path_to_file = os.path.join(dir_output_maps, data_dict['file'])
    data_dict['data'].to_csv(path_to_file)