In [1]:
import numpy as np

In [2]:
from classes.model import Model
from classes.scenario import Scenario

# Scenario overwrites default values
scenario = Scenario({
    # "setup": setup,
    'name': 'drip-and-ship',
    "run_duration": 5,  # years
})

### Set up the units

In [3]:
df_units = scenario.get_unit_services()

In [4]:
units_to_include = [
    'GL13NN',
    'SN36BB',
    'BS105NB',
    'EX314JB',
    'PL68DH ',
    'TR13LQ',
    'EX25DW',
    'BA13NG',
    'SP28BJ',
    'TA15DA',
    'TQ27AA',
    'BS234TQ',
    'BA214AT',
]

df_units = df_units.reset_index()
mask = df_units['postcode'].isin(units_to_include)
df_units.loc[mask, 'selected'] = 1
df_units = df_units.set_index('postcode')

df_units[df_units['selected'] == 1]

,stroke_team,short_code,ssnap_name,use_ivt,use_mt,use_msu,transfer_unit_postcode,lsoa_code,region,region_code,region_type,country,icb,icb_code,isdn,selected
postcode,,,,,,,,,,,,,,,,
BA13NG,Royal United Hospital Bath,BA,Royal United Hospital Bath,1,0,0,nearest,E01014428,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
EX314JB,"North Devon District Hospital, Barnstaple",BP,North Devon District Hospital,1,0,0,nearest,E01020134,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
EX25DW,Royal Devon and Exeter Hospital,EX,Royal Devon and Exeter Hospital,1,0,0,nearest,E01020013,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
GL13NN,"Gloucestershire Royal Hospital, Gloucester",GL,Gloucestershire Royal Hospital,1,0,0,nearest,E01022311,NHS Gloucestershire ICB - 11M,E38000062,SICBL,England,NHS Gloucestershire Integrated Care Board,E54000043,"Gloucester, BSW, BNSSG and Somerset",1
SN36BB,"Great Western Hospital, Swindon",GW,Great Western Hospital Swindon,1,0,0,nearest,E01015583,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
TA15DA,"Musgrove Park Hospital, Taunton",MP,Musgrove Park Hospital,1,0,0,nearest,E01029302,NHS Somerset ICB - 11X,E38000150,SICBL,England,NHS Somerset Integrated Care Board,E54000038,"Gloucester, BSW, BNSSG and Somerset",1
BS105NB,North Bristol Hospital (Southmead),NB,North Bristol Hospitals,1,1,1,nearest,E01014631,"NHS Bristol, North Somerset and South Gloucest...",E38000222,SICBL,England,"NHS Bristol, North Somerset and South Gloucest...",E54000039,"Gloucester, BSW, BNSSG and Somerset",1
SP28BJ,Salisbury District Hospital,SS,Salisbury District Hospital,1,0,0,nearest,E01032000,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
TQ27AA,Torbay Hospital,TB,Torbay Hospital,1,0,0,nearest,E01015251,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
TR13LQ,"Royal Cornwall Hospital, Truro",TR,Royal Cornwall Hospital,1,0,0,nearest,E01018855,NHS Cornwall and the Isles of Scilly ICB - 11N,E38000089,SICBL,England,NHS Cornwall and the Isles of Scilly Integrate...,E54000036,"Devon, Cornwall and Isles of Scilly",1
BS234TQ,"Weston General Hospital, Weston-super-Mare",WG,Weston General Hospital,1,0,0,nearest,E01014803,"NHS Bristol, North Somerset and South Gloucest...",E38000222,SICBL,England,"NHS Bristol, North Somerset and South Gloucest...",E54000039,"Gloucester, BSW, BNSSG and Somerset",1
BA214AT,Yeovil District Hospital,YE,Yeovil District Hospital,1,0,0,nearest,E01029231,NHS Somerset ICB - 11X,E38000150,SICBL,England,NHS Somerset Integrated Care Board,E54000038,"Gloucester, BSW, BNSSG and Somerset",1

In [5]:
dict_useful_data = scenario.process_scenario(df_units)

In [6]:
dict_useful_data.keys()

dict_keys(['df_units', 'df_transfer', 'df_lsoa'])

In [7]:
dict_useful_data['df_units'].head(3).T

postcode,SY231ER,CB20QQ,L97AL
stroke_team,Bronglais Hospital (Aberystwyth),"Addenbrooke's Hospital, Cambridge","University Hospital Aintree, Liverpool"
short_code,AB,AD,AI
ssnap_name,Bronglais Hospital,Addenbrooke's Hospital,University Hospital Aintree
use_ivt,1,1,1
use_mt,0,1,1
use_msu,0,1,1
transfer_unit_postcode,nearest,nearest,nearest
lsoa_code,W01000512,E01017995,E01006654
region,Hywel Dda University Health Board,NHS Cambridgeshire and Peterborough ICB - 06H,NHS Cheshire and Merseyside ICB - 99A
region_code,W11000025,E38000260,E38000101
region_type,LHB,SICBL,SICBL
country,Wales,England,England
icb,NaN,NHS Cambridgeshire and Peterborough Integrated...,NHS Cheshire and Merseyside Integrated Care Board
icb_code,NaN,E54000056,E54000008
isdn,NaN,East of England (South),Cheshire and Merseyside
selected,0,0,0

In [8]:
dict_useful_data['df_transfer'].head(3)

          transfer_unit_travel_time transfer_unit_postcode  selected
postcode
SY231ER                       135.8                CF144XW         0
CB20QQ                          0.0                 CB20QQ         0
L97AL                           0.0                  L97AL         0

In [9]:
dict_useful_data['df_lsoa'].head(3)

,,unit_travel_time,unit_postcode,selected,admissions,relative_frequency
LSOA,lsoa_code,,,,,
Adur 001A,E01031349,17.6,BN25BE,0,1.333333,NaN
Adur 001B,E01031350,18.7,BN112DH,0,1.666667,NaN
Adur 001C,E01031351,17.6,BN112DH,0,2.000000,NaN

## Set up Scenario for pathway

In [10]:
from classes.scenario_setup import Scenario_simpy

In [11]:
scenario_simpy = Scenario_simpy(
    dict_useful_data['df_units'],
    dict_useful_data['df_transfer'],
    dict_useful_data['df_lsoa'],
)

## Run outcome results

In [12]:
model = Model(scenario_simpy)

model.run()

In [17]:
model.results_summary_by_admitting_unit.head(3).T

unit                                     BA13NG     BA214AT     BS105NB
property                    subtype
time_ambulance_called       mean      30.000000   30.000000   30.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_arrival      mean      60.000000   60.000000   60.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_leaves_scene mean      80.000000   80.000000   80.000000
                            std        0.000000    0.000000    0.000000
time_admitting_unit_arrival mean     105.744688  104.480290   97.364435
                            std        8.316898    9.441698    7.201589
time_needle                 mean     135.581515  134.969258  127.624088
                            std        8.041646    9.250739    7.371991
time_transfer_unit_arrival  mean     200.368000  239.645455         NaN
                            std        8.044408    8.619384         NaN
time_puncture               mean     260.368000  299.645455  126.960465
                            std        8.044408    8.619384    7.132392
mRS shift                   mean      -0.530006   -0.492255   -0.679278
                            std        0.021720    0.054475    0.206482
utility_shift               mean       0.100694    0.093579    0.128319
                            std        0.007243    0.006186    0.043175
mRS 0-2                     mean       0.592955    0.582909    0.619310
                            std        0.140217    0.152783    0.102287

In [18]:
model.results_summary_by_lsoa.head(3).T

lsoa                                Bath and North East Somerset 001C  \
LSOA11CD                                                    E01014401
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                              0.000000
time_ambulance_arrival      mean                            60.000000
                            std                              0.000000
time_ambulance_leaves_scene mean                            80.000000
                            std                              0.000000
time_admitting_unit_arrival mean                            98.700000
                            std                              0.000000
time_needle                 mean                           128.700000
                            std                              0.000000
time_transfer_unit_arrival  mean                           192.400000
                            std                                   NaN
time_puncture               mean                           252.400000
                            std                                   NaN
mRS shift                   mean                            -0.548347
                            std                              0.016072
utility_shift               mean                             0.104330
                            std                              0.009179
mRS 0-2                     mean                             0.587190
                            std                              0.174409

lsoa                                Bath and North East Somerset 002B  \
LSOA11CD                                                    E01014403
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                              0.000000
time_ambulance_arrival      mean                            60.000000
                            std                              0.000000
time_ambulance_leaves_scene mean                            80.000000
                            std                              0.000000
time_admitting_unit_arrival mean                            98.700000
                            std                              0.000000
time_needle                 mean                           128.700000
                            std                              0.000000
time_transfer_unit_arrival  mean                                  NaN
                            std                                   NaN
time_puncture               mean                                  NaN
                            std                                   NaN
mRS shift                   mean                            -0.539067
                            std                              0.000000
utility_shift               mean                             0.099030
                            std                              0.000000
mRS 0-2                     mean                             0.687885
                            std                              0.000000

lsoa                                Bath and North East Somerset 002C
LSOA11CD                                                    E01014404
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                                   NaN
time_ambulance_arrival      mean                            60.000000
                            std                                   NaN
time_ambulance_leaves_scene mean                            80.000000
                            std                                   NaN
time_admitting_unit_arrival mean                            99.800000
                            std                                   NaN
time_needle                 mean                           129.800000
                            std                                   NaN
time_transfer_unit_arrival  mean                                  NaN
                            std                                   NaN
time_puncture               mean                                  NaN
                            std                                   NaN
mRS shift                   mean                            -0.536651
                            std                                   NaN
utility_shift               mean                             0.098613
                            std                                   NaN
mRS 0-2                     mean                             0.687432
                            std                                   NaN

## Use Setup object to save data and track file names

Data worth saving:

| Data | Type | Source | File |
| --- | --- | --- | --- |
| `df_units` | pd.DataFrame | Scenario |  |
| `df_transfer` | pd.DataFrame | Scenario |  |
| `df_lsoa` | pd.DataFrame | Scenario |  |
| `df_selected_units` | pd.DataFrame | Scenario_simpy |  |
| `df_selected_transfer` | pd.DataFrame | Scenario_simpy |  |
| `df_selected_lsoa` | pd.DataFrame | Scenario_simpy |  |
| `results_all` | pd.DataFrame | Model |  |
| `results_summary_all` | pd.DataFrame | Model |  |
| `results_summary_by_admitting_unit` | pd.DataFrame | Model |  |
| `results_summary_by_lsoa` | pd.DataFrame | Model |  |