In [1]:
from classes.model import Model
from classes.scenario import Scenario


# Scenario overwrites default values
scenario = Scenario({
    "run_duration": 5,
    "mt_hub_postcodes":['PL68DH', 'BS105NB']
})

model = Model(scenario)

model.run()

In [2]:
model.results_all

,id,lsoa,stroke_type,closest_ivt_unit,closest_ivt_duration,closest_mt_unit,closest_mt_duration,mt_transfer_unit,mt_transfer_duration,mt_transfer_required,...,thrombolysis,time_onset,time_ambulance_called,time_ambulance_arrives,time_ambulance_on_scene,time_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,thrombectomy
0,2,Mendip 013C,2,BA214AT,25.1,BS105NB,56.3,BS105NB,74.5,False,...,False,13.4,30.0,60.0,80.0,105.1,NaN,NaN,NaN,False
1,3,Cheltenham 006D,2,GL13NN,20.8,BS105NB,50.9,BS105NB,46.6,False,...,False,44.6,30.0,60.0,80.0,100.8,NaN,NaN,NaN,False
2,1,Mid Devon 001A,3,TA15DA,28.4,PL68DH,77.8,BS105NB,65.9,True,...,False,0.0,30.0,60.0,80.0,108.4,NaN,204.3,NaN,False
3,4,Torridge 002C,2,EX314JB,23.0,PL68DH,78.8,PL68DH,90.6,False,...,False,138.8,30.0,60.0,80.0,103.0,NaN,NaN,NaN,False
4,5,Wiltshire 015F,1,SN36BB,31.6,BS105NB,47.7,BS105NB,49.8,False,...,False,244.8,30.0,60.0,80.0,111.6,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,106,Exeter 003C,3,EX25DW,13.3,PL68DH,60.6,PL68DH,59.5,False,...,False,6778.9,30.0,60.0,80.0,93.3,NaN,NaN,NaN,False
105,107,Torridge 005A,2,EX314JB,32.6,PL68DH,84.2,PL68DH,90.6,False,...,False,6788.0,30.0,60.0,80.0,112.6,NaN,NaN,NaN,False
106,108,Taunton Deane 011E,3,TA15DA,11.2,BS105NB,67.0,BS105NB,65.9,False,...,False,6814.5,30.0,60.0,80.0,91.2,NaN,NaN,NaN,False
107,103,West Berkshire 021D,3,SN36BB,35.9,SO166YD,48.8,BS105NB,49.8,True,...,False,6728.6,30.0,60.0,80.0,115.9,NaN,195.7,NaN,False
108,109,Sedgemoor 002D,3,BS234TQ,20.8,BS105NB,48.8,BS105NB,43.4,False,...,False,6845.9,30.0,60.0,80.0,100.8,NaN,NaN,NaN,False

In [3]:
completed_patients_keys = model.pathway.completed_patients[0].keys()
time_cols = [x for x in completed_patients_keys if x[0:4] == 'time']
time_cols.remove('time_onset')

In [4]:
model.results_summary_all

,time_ambulance_called,time_ambulance_arrives,time_ambulance_on_scene,time_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture
statistic,,,,,,,
mean,30.0,60.0,80.0,103.080734,134.700000,201.020000,92.2
std,0.0,0.0,0.0,9.352475,10.406302,13.741434,NaN

In [5]:
model.results_summary_by_admitting_unit

                 time_ambulance_called      time_ambulance_arrives       \
                                  mean  std                   mean  std
closest_ivt_unit
BA13NG                            30.0  0.0                   60.0  0.0
BA214AT                           30.0  0.0                   60.0  0.0
BS105NB                           30.0  0.0                   60.0  0.0
BS234TQ                           30.0  0.0                   60.0  0.0
EX25DW                            30.0  0.0                   60.0  0.0
EX314JB                           30.0  0.0                   60.0  0.0
GL13NN                            30.0  0.0                   60.0  0.0
PL68DH                            30.0  0.0                   60.0  0.0
SN36BB                            30.0  0.0                   60.0  0.0
TA15DA                            30.0  0.0                   60.0  0.0
TQ27AA                            30.0  0.0                   60.0  0.0
TR13LQ                            30.0  0.0                   60.0  0.0

                 time_ambulance_on_scene      time_unit_arrival             \
                                    mean  std              mean        std
closest_ivt_unit
BA13NG                              80.0  0.0        107.280000   7.222801
BA214AT                             80.0  0.0        102.855556   9.756679
BS105NB                             80.0  0.0         93.850000   2.333452
BS234TQ                             80.0  0.0        100.837500   5.325931
EX25DW                              80.0  0.0        106.046154   9.700998
EX314JB                             80.0  0.0        102.712500  11.003433
GL13NN                              80.0  0.0        104.300000   7.798184
PL68DH                              80.0  0.0         97.062500   8.305753
SN36BB                              80.0  0.0        104.050000   9.625116
TA15DA                              80.0  0.0         97.988889   9.012553
TQ27AA                              80.0  0.0         91.150000   2.330236
TR13LQ                              80.0  0.0        107.908333  10.688265

                 time_needle           time_transfer_unit_arrival             \
                        mean       std                       mean        std
closest_ivt_unit
BA13NG            136.200000       NaN                        NaN        NaN
BA214AT                  NaN       NaN                 217.100000        NaN
BS105NB                  NaN       NaN                        NaN        NaN
BS234TQ           136.200000       NaN                        NaN        NaN
EX25DW            145.900000  7.447818                        NaN        NaN
EX314JB                  NaN       NaN                        NaN        NaN
GL13NN            129.733333  8.523106                        NaN        NaN
PL68DH                   NaN       NaN                        NaN        NaN
SN36BB            123.850000  5.303301                 194.566667  13.435897
TA15DA                   NaN       NaN                 204.300000        NaN
TQ27AA                   NaN       NaN                        NaN        NaN
TR13LQ                   NaN       NaN                        NaN        NaN

                 time_puncture
                          mean std
closest_ivt_unit
BA13NG                     NaN NaN
BA214AT                    NaN NaN
BS105NB                    NaN NaN
BS234TQ                    NaN NaN
EX25DW                     NaN NaN
EX314JB                   92.2 NaN
GL13NN                     NaN NaN
PL68DH                     NaN NaN
SN36BB                     NaN NaN
TA15DA                     NaN NaN
TQ27AA                     NaN NaN
TR13LQ                     NaN NaN