In [1]:
import numpy as np

In [2]:
from classes.model import Model
from classes.scenario import Scenario

# Scenario overwrites default values
scenario = Scenario({
    # "setup": setup,
    'name': 'drip-and-ship',
    "run_duration": 5,  # years
})

### Set up the units

In [3]:
df_units = scenario.get_unit_services()

In [4]:
units_to_include = [
    'GL13NN',
    'SN36BB',
    'BS105NB',
    'EX314JB',
    'PL68DH ',
    'TR13LQ',
    'EX25DW',
    'BA13NG',
    'SP28BJ',
    'TA15DA',
    'TQ27AA',
    'BS234TQ',
    'BA214AT',
]

df_units = df_units.reset_index()
mask = df_units['postcode'].isin(units_to_include)
df_units.loc[mask, 'selected'] = 1
df_units = df_units.set_index('postcode')

df_units[df_units['selected'] == 1]

,stroke_team,short_code,ssnap_name,use_ivt,use_mt,use_msu,transfer_unit_postcode,lsoa_code,region,region_code,region_type,country,icb,icb_code,isdn,selected
postcode,,,,,,,,,,,,,,,,
BA13NG,Royal United Hospital Bath,BA,Royal United Hospital Bath,1,0,0,nearest,E01014428,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
EX314JB,"North Devon District Hospital, Barnstaple",BP,North Devon District Hospital,1,0,0,nearest,E01020134,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
EX25DW,Royal Devon and Exeter Hospital,EX,Royal Devon and Exeter Hospital,1,0,0,nearest,E01020013,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
GL13NN,"Gloucestershire Royal Hospital, Gloucester",GL,Gloucestershire Royal Hospital,1,0,0,nearest,E01022311,NHS Gloucestershire ICB - 11M,E38000062,SICBL,England,NHS Gloucestershire Integrated Care Board,E54000043,"Gloucester, BSW, BNSSG and Somerset",1
SN36BB,"Great Western Hospital, Swindon",GW,Great Western Hospital Swindon,1,0,0,nearest,E01015583,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
TA15DA,"Musgrove Park Hospital, Taunton",MP,Musgrove Park Hospital,1,0,0,nearest,E01029302,NHS Somerset ICB - 11X,E38000150,SICBL,England,NHS Somerset Integrated Care Board,E54000038,"Gloucester, BSW, BNSSG and Somerset",1
BS105NB,North Bristol Hospital (Southmead),NB,North Bristol Hospitals,1,1,1,nearest,E01014631,"NHS Bristol, North Somerset and South Gloucest...",E38000222,SICBL,England,"NHS Bristol, North Somerset and South Gloucest...",E54000039,"Gloucester, BSW, BNSSG and Somerset",1
SP28BJ,Salisbury District Hospital,SS,Salisbury District Hospital,1,0,0,nearest,E01032000,"NHS Bath and North East Somerset, Swindon and ...",E38000231,SICBL,England,"NHS Bath and North East Somerset, Swindon and ...",E54000040,"Gloucester, BSW, BNSSG and Somerset",1
TQ27AA,Torbay Hospital,TB,Torbay Hospital,1,0,0,nearest,E01015251,NHS Devon ICB - 15N,E38000230,SICBL,England,NHS Devon Integrated Care Board,E54000037,"Devon, Cornwall and Isles of Scilly",1
TR13LQ,"Royal Cornwall Hospital, Truro",TR,Royal Cornwall Hospital,1,0,0,nearest,E01018855,NHS Cornwall and the Isles of Scilly ICB - 11N,E38000089,SICBL,England,NHS Cornwall and the Isles of Scilly Integrate...,E54000036,"Devon, Cornwall and Isles of Scilly",1
BS234TQ,"Weston General Hospital, Weston-super-Mare",WG,Weston General Hospital,1,0,0,nearest,E01014803,"NHS Bristol, North Somerset and South Gloucest...",E38000222,SICBL,England,"NHS Bristol, North Somerset and South Gloucest...",E54000039,"Gloucester, BSW, BNSSG and Somerset",1
BA214AT,Yeovil District Hospital,YE,Yeovil District Hospital,1,0,0,nearest,E01029231,NHS Somerset ICB - 11X,E38000150,SICBL,England,NHS Somerset Integrated Care Board,E54000038,"Gloucester, BSW, BNSSG and Somerset",1

In [5]:
dict_useful_data = scenario.process_scenario(df_units)

In [6]:
dict_useful_data.keys()

dict_keys(['df_units', 'df_transfer', 'df_lsoa'])

In [7]:
dict_useful_data['df_units'].head(3).T

postcode,SY231ER,CB20QQ,L97AL
stroke_team,Bronglais Hospital (Aberystwyth),"Addenbrooke's Hospital, Cambridge","University Hospital Aintree, Liverpool"
short_code,AB,AD,AI
ssnap_name,Bronglais Hospital,Addenbrooke's Hospital,University Hospital Aintree
use_ivt,1,1,1
use_mt,0,1,1
use_msu,0,1,1
transfer_unit_postcode,nearest,nearest,nearest
lsoa_code,W01000512,E01017995,E01006654
region,Hywel Dda University Health Board,NHS Cambridgeshire and Peterborough ICB - 06H,NHS Cheshire and Merseyside ICB - 99A
region_code,W11000025,E38000260,E38000101
region_type,LHB,SICBL,SICBL
country,Wales,England,England
icb,NaN,NHS Cambridgeshire and Peterborough Integrated...,NHS Cheshire and Merseyside Integrated Care Board
icb_code,NaN,E54000056,E54000008
isdn,NaN,East of England (South),Cheshire and Merseyside
selected,0,0,0

In [8]:
dict_useful_data['df_transfer'].head(3)

          transfer_unit_travel_time transfer_unit_postcode  selected
postcode
SY231ER                       135.8                CF144XW         0
CB20QQ                          0.0                 CB20QQ         0
L97AL                           0.0                  L97AL         0

In [9]:
dict_useful_data['df_lsoa'].head(3)

,,unit_travel_time,unit_postcode,selected,admissions,relative_frequency
LSOA,lsoa_code,,,,,
Adur 001A,E01031349,17.6,BN25BE,0,1.333333,NaN
Adur 001B,E01031350,18.7,BN112DH,0,1.666667,NaN
Adur 001C,E01031351,17.6,BN112DH,0,2.000000,NaN

## Set up Scenario for pathway

In [10]:
from classes.scenario_setup import Scenario_simpy

In [11]:
scenario_simpy = Scenario_simpy(
    dict_useful_data['df_units'],
    dict_useful_data['df_transfer'],
    dict_useful_data['df_lsoa'],
)

## Run outcome results

In [12]:
model = Model(scenario_simpy)

model.run()

In [17]:
model.results_summary_by_admitting_unit.head(3).T

unit                                     BA13NG     BA214AT     BS105NB
property                    subtype
time_ambulance_called       mean      30.000000   30.000000   30.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_arrival      mean      60.000000   60.000000   60.000000
                            std        0.000000    0.000000    0.000000
time_ambulance_leaves_scene mean      80.000000   80.000000   80.000000
                            std        0.000000    0.000000    0.000000
time_admitting_unit_arrival mean     105.744688  104.480290   97.364435
                            std        8.316898    9.441698    7.201589
time_needle                 mean     135.581515  134.969258  127.624088
                            std        8.041646    9.250739    7.371991
time_transfer_unit_arrival  mean     200.368000  239.645455         NaN
                            std        8.044408    8.619384         NaN
time_puncture               mean     260.368000  299.645455  126.960465
                            std        8.044408    8.619384    7.132392
mRS shift                   mean      -0.530006   -0.492255   -0.679278
                            std        0.021720    0.054475    0.206482
utility_shift               mean       0.100694    0.093579    0.128319
                            std        0.007243    0.006186    0.043175
mRS 0-2                     mean       0.592955    0.582909    0.619310
                            std        0.140217    0.152783    0.102287

In [18]:
model.results_summary_by_lsoa.head(3).T

lsoa                                Bath and North East Somerset 001C  \
LSOA11CD                                                    E01014401
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                              0.000000
time_ambulance_arrival      mean                            60.000000
                            std                              0.000000
time_ambulance_leaves_scene mean                            80.000000
                            std                              0.000000
time_admitting_unit_arrival mean                            98.700000
                            std                              0.000000
time_needle                 mean                           128.700000
                            std                              0.000000
time_transfer_unit_arrival  mean                           192.400000
                            std                                   NaN
time_puncture               mean                           252.400000
                            std                                   NaN
mRS shift                   mean                            -0.548347
                            std                              0.016072
utility_shift               mean                             0.104330
                            std                              0.009179
mRS 0-2                     mean                             0.587190
                            std                              0.174409

lsoa                                Bath and North East Somerset 002B  \
LSOA11CD                                                    E01014403
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                              0.000000
time_ambulance_arrival      mean                            60.000000
                            std                              0.000000
time_ambulance_leaves_scene mean                            80.000000
                            std                              0.000000
time_admitting_unit_arrival mean                            98.700000
                            std                              0.000000
time_needle                 mean                           128.700000
                            std                              0.000000
time_transfer_unit_arrival  mean                                  NaN
                            std                                   NaN
time_puncture               mean                                  NaN
                            std                                   NaN
mRS shift                   mean                            -0.539067
                            std                              0.000000
utility_shift               mean                             0.099030
                            std                              0.000000
mRS 0-2                     mean                             0.687885
                            std                              0.000000

lsoa                                Bath and North East Somerset 002C
LSOA11CD                                                    E01014404
property                    subtype
time_ambulance_called       mean                            30.000000
                            std                                   NaN
time_ambulance_arrival      mean                            60.000000
                            std                                   NaN
time_ambulance_leaves_scene mean                            80.000000
                            std                                   NaN
time_admitting_unit_arrival mean                            99.800000
                            std                                   NaN
time_needle                 mean                           129.800000
                            std                                   NaN
time_transfer_unit_arrival  mean                                  NaN
                            std                                   NaN
time_puncture               mean                                  NaN
                            std                                   NaN
mRS shift                   mean                            -0.536651
                            std                                   NaN
utility_shift               mean                             0.098613
                            std                                   NaN
mRS 0-2                     mean                             0.687432
                            std                                   NaN

In [13]:
print(stop, here, please)

NameError: name 'stop' is not defined

In [19]:
completed_patients_keys = model.pathway.completed_patients[0].keys()
time_cols = [x for x in completed_patients_keys if x[0:4] == 'time']
time_cols.remove('time_onset')

In [20]:
model.results_summary_all

,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
statistic,,,,,,,,,,
mean,30.0,60.0,80.0,103.056876,133.187261,220.761345,275.050259,-0.518267,0.098669,0.582006
std,0.0,0.0,0.0,9.679603,9.673268,20.257591,35.262584,0.069457,0.012782,0.148554

In [21]:
model.results_summary_by_admitting_unit

property time_ambulance_called      time_ambulance_arrival       \
subtype                   mean  std                   mean  std
unit
BA13NG                    30.0  0.0                   60.0  0.0
BA214AT                   30.0  0.0                   60.0  0.0
BS105NB                   30.0  0.0                   60.0  0.0
BS234TQ                   30.0  0.0                   60.0  0.0
EX25DW                    30.0  0.0                   60.0  0.0
EX314JB                   30.0  0.0                   60.0  0.0
GL13NN                    30.0  0.0                   60.0  0.0
SN36BB                    30.0  0.0                   60.0  0.0
SP28BJ                    30.0  0.0                   60.0  0.0
TA15DA                    30.0  0.0                   60.0  0.0
TQ27AA                    30.0  0.0                   60.0  0.0
TR13LQ                    30.0  0.0                   60.0  0.0

property time_ambulance_leaves_scene      time_admitting_unit_arrival  \
subtype                         mean  std                        mean
unit
BA13NG                          80.0  0.0                  105.744688
BA214AT                         80.0  0.0                  104.480290
BS105NB                         80.0  0.0                   97.364435
BS234TQ                         80.0  0.0                   99.309367
EX25DW                          80.0  0.0                  102.494364
EX314JB                         80.0  0.0                  105.630198
GL13NN                          80.0  0.0                  101.592102
SN36BB                          80.0  0.0                  103.371186
SP28BJ                          80.0  0.0                  100.523864
TA15DA                          80.0  0.0                  103.499245
TQ27AA                          80.0  0.0                   98.485110
TR13LQ                          80.0  0.0                  108.504520

property            time_needle            time_transfer_unit_arrival  \
subtype         std        mean        std                       mean
unit
BA13NG     8.316898  135.581515   8.041646                 200.368000
BA214AT    9.441698  134.969258   9.250739                 239.645455
BS105NB    7.201589  127.624088   7.371991                        NaN
BS234TQ    7.132188  129.207328   7.221696                 202.282353
EX25DW     9.818952  132.960828   9.900839                 222.829464
EX314JB   12.140339  135.654918  12.098098                 255.440476
GL13NN     8.252659  131.976212   8.044930                 207.745588
SN36BB     9.108410  133.244011   8.970608                 212.318487
SP28BJ     8.558219  130.928472   8.315170                 196.642105
TA15DA    10.327554  132.842069  10.545050                 229.444186
TQ27AA     8.803964  128.635000   8.916873                 210.082243
TR13LQ     9.481749  138.599759   9.810976                 244.514184

property            time_puncture            mRS shift            \
subtype         std          mean        std      mean       std
unit
BA13NG     8.044408    260.368000   8.044408 -0.530006  0.021720
BA214AT    8.619384    299.645455   8.619384 -0.492255  0.054475
BS105NB         NaN    126.960465   7.132392 -0.679278  0.206482
BS234TQ    6.893962    262.282353   6.893962 -0.536803  0.018492
EX25DW    10.079206    282.829464  10.079206 -0.509033  0.038131
EX314JB   10.973134    315.440476  10.973134 -0.470278  0.078479
GL13NN     7.656552    267.745588   7.656552 -0.527017  0.020967
SN36BB     9.017149    272.318487   9.017149 -0.520192  0.025591
SP28BJ     7.634484    256.642105   7.634484 -0.541626  0.023377
TA15DA    11.849454    289.444186  11.849454 -0.506810  0.045601
TQ27AA     8.043312    270.082243   8.043312 -0.529333  0.025738
TR13LQ     9.650371    304.514184   9.650371 -0.478927  0.059372

property utility_shift             mRS 0-2
subtype           mean       std      mean       std
unit
BA13NG        0.100694  0.007243  0.592955  0.140217
BA214AT       0.093579  0.006186  0.582909  0.152783
BS105NB       0.128319  0.043175  0.619310  0.102287
BS234TQ       0.102509  0.005972  0.574708  0.148813
EX25DW        0.097206  0.004675  0.572163  0.153474
EX314JB       0.089743  0.010449  0.568259  0.161301
GL13NN        0.100173  0.005230  0.588890  0.144272
SN36BB        0.099089  0.004987  0.582188  0.147492
SP28BJ        0.103770  0.007993  0.566647  0.149150
TA15DA        0.096143  0.005420  0.590222  0.148305
TQ27AA        0.100738  0.004747  0.583040  0.148078
TR13LQ        0.091423  0.007060  0.571430  0.156982

In [22]:
model.results_all[np.isnan(model.results_all['time_puncture']) == False]

,id,lsoa,LSOA11CD,stroke_type,unit,travel_duration,transfer_unit,transfer_travel_duration,transfer_required,admitting_unit,...,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
7,5,Gloucester 009C,E01022330,2,GL13NN,11.2,BS105NB,46.6,True,GL13NN,...,30.0,60.0,80.0,91.2,121.2,197.8,257.8,-0.549731,0.111681,0.382340
9,6,West Devon 003A,E01020318,2,EX25DW,36.9,PL68DH,59.5,True,EX25DW,...,30.0,60.0,80.0,116.9,146.9,236.4,296.4,-0.428734,0.088651,0.357974
17,15,Forest of Dean 008A,E01022231,2,GL13NN,40.2,BS105NB,46.6,True,GL13NN,...,30.0,60.0,80.0,120.2,150.2,226.8,286.8,-0.458537,0.094345,0.363971
30,28,Bath and North East Somerset 025C,E01014422,2,BA13NG,27.3,BS105NB,33.7,True,BA13NG,...,30.0,60.0,80.0,107.3,137.3,201.0,261.0,-0.539583,0.109758,0.380296
37,36,Cornwall 052B,E01018866,2,TR13LQ,21.9,PL68DH,75.6,True,TR13LQ,...,30.0,60.0,80.0,101.9,131.9,237.5,297.5,-0.425331,0.088000,0.357290
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,6115,Torbay 005C,E01015242,2,TQ27AA,9.0,PL68DH,52.0,True,TQ27AA,...,30.0,60.0,80.0,89.0,119.0,201.0,261.0,-0.539583,0.109758,0.380296
6119,6117,North Devon 011C,E01020107,2,EX314JB,15.5,PL68DH,90.6,True,EX314JB,...,30.0,60.0,80.0,95.5,125.5,246.1,306.1,-0.398816,0.082921,0.351959
6127,6127,Bath and North East Somerset 007D,E01014412,2,BA13NG,12.2,BS105NB,33.7,True,BA13NG,...,30.0,60.0,80.0,92.2,122.2,185.9,245.9,-0.587657,0.118848,0.389980
6135,6133,Cotswold 010C,E01022224,2,SN36BB,28.4,BS105NB,49.8,True,SN36BB,...,30.0,60.0,80.0,108.4,138.4,218.2,278.2,-0.485398,0.099466,0.369380
6138,6137,Cornwall 048D,E01018849,2,TR13LQ,35.9,PL68DH,75.6,True,TR13LQ,...,30.0,60.0,80.0,115.9,145.9,251.5,311.5,-0.382246,0.079742,0.348630

In [23]:
model.results_all[np.isnan(model.results_all['time_needle']) == False]

,id,lsoa,LSOA11CD,stroke_type,unit,travel_duration,transfer_unit,transfer_travel_duration,transfer_required,admitting_unit,...,time_ambulance_called,time_ambulance_arrival,time_ambulance_leaves_scene,time_admitting_unit_arrival,time_needle,time_transfer_unit_arrival,time_puncture,mRS shift,utility_shift,mRS 0-2
1,2,Wiltshire 046B,E01031996,1,SP28BJ,25.1,SO166YD,35.9,True,SP28BJ,...,30.0,60.0,80.0,105.1,135.1,NaN,NaN,-0.524990,0.096598,0.685247
2,3,Cornwall 073D,E01018904,1,TR13LQ,42.3,PL68DH,75.6,True,TR13LQ,...,30.0,60.0,80.0,122.3,152.3,NaN,NaN,-0.486982,0.090001,0.678101
6,9,Cornwall 063A,E01018803,1,TR13LQ,26.2,PL68DH,75.6,True,TR13LQ,...,30.0,60.0,80.0,106.2,136.2,NaN,NaN,-0.522567,0.096178,0.684793
7,5,Gloucester 009C,E01022330,2,GL13NN,11.2,BS105NB,46.6,True,GL13NN,...,30.0,60.0,80.0,91.2,121.2,197.8,257.8,-0.549731,0.111681,0.382340
8,10,Bristol 001B,E01014602,1,BS105NB,14.4,BS105NB,0.0,False,BS105NB,...,30.0,60.0,80.0,94.4,124.4,NaN,NaN,-0.548505,0.100658,0.689650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6138,6137,Cornwall 048D,E01018849,2,TR13LQ,35.9,PL68DH,75.6,True,TR13LQ,...,30.0,60.0,80.0,115.9,145.9,251.5,311.5,-0.382246,0.079742,0.348630
6141,6142,Bath and North East Somerset 017A,E01014415,1,BA13NG,11.2,BS105NB,33.7,True,BA13NG,...,30.0,60.0,80.0,91.2,121.2,NaN,NaN,-0.555518,0.101866,0.690960
6143,6144,North Somerset 022A,E01014804,1,BS234TQ,9.0,BS105NB,43.4,True,BS234TQ,...,30.0,60.0,80.0,89.0,119.0,NaN,NaN,-0.560334,0.102695,0.691859
6147,6148,Forest of Dean 005B,E01022230,1,GL13NN,20.8,BS105NB,46.6,True,GL13NN,...,30.0,60.0,80.0,100.8,130.8,NaN,NaN,-0.534452,0.098233,0.687021
6148,6149,Cheltenham 006D,E01022134,1,GL13NN,20.8,BS105NB,46.6,True,GL13NN,...,30.0,60.0,80.0,100.8,130.8,NaN,NaN,-0.534452,0.098233,0.687021